<template>
  <v-container class="px-0">
    <v-row v-if="listCart && listCart.length>0">
      <v-col cols="8" class="pr-0">
        <v-container class="py-0 ">
          <v-row class="mb-3">
            <v-col class="select-all">
              <div class="select-all-input" @click="handleCheckAll">
                <v-simple-checkbox v-model="checkAll" color="warning" class="mr-2"/>
                <div class="select-all-input-text">Chọn tất cả ({{ totalProduct }} sản phẩm)</div>
              </div>
              <div class="trash-button">
                <v-btn
                  outlined
                  color="error"
                  @click="deleteSelectedItem"
                >
                  <v-icon class="mr-2">far fa-trash-alt</v-icon>
                  Xóa
                </v-btn>
              </div>
            </v-col>
          </v-row>
          <v-row v-for="(product, index) in listCart" :key="index" class="list-cart">
            <v-col :title="product.name" class="product-item">
              <div
                class="product-item-wrap"
              >
                <v-simple-checkbox
                  v-model="product.status"
                  color="warning"
                  class="mr-2"
                  @click="handleCheckItem(product)"
                />
                <div class="product-info-wrap">
                  <div class="image-wrap mr-2">
                    <img
                      :src="product.pictureUrl"
                      alt="">
                  </div>
                  <div class="product-info mr-2">
                    <div class="product-info-title">
                      {{ product.name }}
                    </div>
                  </div>
                </div>
                <div class="product-price-wrap mx-2">
                  <div class="product-price">
                    {{ numberToMoney(product.price) }} ₫
                  </div>
                  <div class="product-price-origin">
                    {{ numberToMoney(product.originPrice) }} ₫
                  </div>
                  <div class="product-price-discount">
                    -{{ Math.ceil(((product.originPrice - product.price) / product.originPrice) * 100) }} %
                  </div>
                  <v-btn small icon color="error" @click.stop="deleteItem(product)">
                    <v-icon>far fa-trash-alt</v-icon>
                  </v-btn>
                </div>
              </div>
              <div class="product-quantity">
                <v-btn
                  icon
                  outlined
                  color="primary"
                  @click="handleBtnMinus(product)"
                >
                  <v-icon>fas fa-minus</v-icon>
                </v-btn>
                <label>
                  <input v-model="product.quantity" @change="handleInputQuantity(product)" type="number">
                </label>
                <v-btn
                  icon
                  outlined
                  color="primary"
                  @click="handleBtnPlus(product)"
                >
                  <v-icon>fas fa-plus</v-icon>
                </v-btn>
              </div>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
      <v-col cols="4">
        <v-container class="cart-right py-0">
          <v-row>
            <v-col class="cart-info-title">
              Thông tin đơn hàng
            </v-col>
          </v-row>
          <v-row>
            <v-col class="cart-right-col">
              <div class="">Tạm tính ({{ totalProductSelected }} sản phẩm)</div>
              <div class="cart-info-price"> {{ numberToMoney(cartTotalPrice) }} ₫</div>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="cart-right-col">
              <div class="">Phí giao hàng</div>
              <div class="cart-info-price">
                {{ numberToMoney(feeShip) }} ₫
              </div>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="cart-right-col cart-right-col-sum">
              <div class="">Tổng cộng</div>
              <div class="cart-info-price">
                {{ numberToMoney(totalPriceCart) }} ₫
                <span>Đã bao gồm VAT (nếu có)</span>
              </div>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="cart-right-col cart-right-col-sum">
              <v-btn to="/checkout" block color="warning">Xác nhận giỏ hàng</v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
    <v-row v-else>
      <v-col>
        <div class="no-data">
          <div>Không có sản phẩm nào trong giỏ hàng</div>
          <v-btn to="/" color="warning">
            Tiếp tục mua sắm
          </v-btn>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import {numberToMoney} from '@/helpers/currency'
import {mapActions, mapGetters, mapMutations} from 'vuex'

export default {
  name: "Cart",
  data: () => ({
    checkAll: true,
    quantity: 0,
    feeShip: 100000,
    listCart2: [
      {
        name: "I phone 128 Gb I phone 128 Gb I phone 128 Gb I phone 128 Gb",
        pictureUrl: "https://api.thegioidididongfake.com/images/products/3/0.jpg",
        id: 20,
        price: 180000,
        originPrice: 360000,
        quantity: 10,
        status: false
      },
      {
        name: "Laptop Asus VivoBook A412FA i5 8265U/8GB/512GB/Win10 (EK343T)",
        pictureUrl: "https://api.thegioidididongfake.com/images/products/9/0.jpg",
        id: 10,
        price: 15990000,
        originPrice: 16990000,
        quantity: 5,
        status: true
      },
      {
        name: "Laptop Asus VivoBook A412FA i5 8265U/8GB/512GB/Win10 (EK343T)",
        pictureUrl: "https://api.thegioidididongfake.com/images/products/9/0.jpg",
        id: 11,
        price: 15990000,
        originPrice: 16990000,
        quantity: 5,
        status: true
      },
      {
        name: "Laptop Asus VivoBook A412FA i5 8265U/8GB/512GB/Win10 (EK343T)",
        pictureUrl: "https://api.thegioidididongfake.com/images/products/9/0.jpg",
        id: 13,
        price: 15990000,
        originPrice: 16990000,
        quantity: 5,
        status: true
      }
    ]
  }),
  computed: {
    ...mapGetters({
      listCart: 'cart/cartProducts',
      cartTotalPrice: 'cart/cartTotalPrice'
    }),
    totalProduct() {
      let sum = 0
      this.listCart.forEach(item => {
        sum += item.quantity
      })
      return sum
    },
    totalProductSelected() {
      let sum = 0
      this.listCart.forEach(item => {
        if (item.status === true) sum += item.quantity
      })
      return sum
    },
    // totalPriceProduct() {
    //   let sum = 0
    //   this.listCart.forEach(item => {
    //     if (item.status === true) sum += item.price * item.quantity
    //   })
    //   return sum
    // },
    totalPriceCart() {
      return this.cartTotalPrice + this.feeShip
    },
  },
  mounted() {
    this.checkStatusBtnCheckAll();
    console.log('cart', this.listCart)
    console.log('cartTotalPrice', this.cartTotalPrice)
  },
  methods: {
    ...mapMutations({
      setSnackBarOn: 'SET_DISPLAY_SNACKBAR',
      setSnackBarContent: 'SET_SNACKBAR_CONTENT',
      setSnackBarColor: 'SET_SNACKBAR_COLOR'
    }),
    ...mapActions({
      addItemQuantity: 'cart/addItemQuantity',
      removeItemQuantity: 'cart/removeItemQuantity',
      changeItemStatus: 'cart/changeItemStatus',
      enterQuantity: 'cart/enterItemQuantity'
    }),
    numberToMoney,
    checkStatusBtnCheckAll() {
      // check all
      const listTemp = this.listCart.filter(item => {
        return item.status === false
      })
      this.checkAll = listTemp.length === 0;
    },
    handleCheckAll() {
      this.checkAll = !this.checkAll;
      this.listCart.forEach(item => {
        item.status = this.checkAll
      })
    },
    handleCheckItem(product) {
      // product.status = !product.status
      this.changeItemStatus({itemId: product.id, status: product.status})
      // check all
      this.checkStatusBtnCheckAll()
    },
    handleBtnPlus(product) {
      this.addItemQuantity({itemId: product.id, quantity: 1})
    },
    handleBtnMinus(product) {
      if (product.quantity > 1) {
        this.removeItemQuantity({itemId: product.id, quantity: 1})
      }
    },
    handleInputQuantity(product) {
      this.enterQuantity({itemId: product.id, quantity: product.quantity})
    },
    deleteItem(product) {
      this.listCart.forEach((item, index) => {
        if (item.id === product.id)
          this.listCart.splice(index, 1)
      })
    },
    deleteSelectedItem() {
      const selectedItem = this.listCart.filter((item) => item.status === true);
      if (selectedItem.length <= 0) {
        this.setSnackBarOn(true);
        this.setSnackBarColor("error");
        this.setSnackBarContent("Vui lòng chọn ít nhất một sản phẩm");
      } else {
        this.listCart = this.listCart.filter((item) => item.status === false)
      }
    }
  }
}
</script>

<style scoped lang="scss">
@import "../../assets/variables";

.no-data {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.select-all {
  display: flex;
  align-items: center;
  background: white;
  text-transform: uppercase;
  justify-content: space-between;
  width: 100%;

  .select-all-input {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;

    .select-all-input-text {
      position: relative;
      bottom: -1px;
    }
  }

  .trash-button {
    display: flex;
    align-items: center;

    .trash-button-text {
      position: relative;
      bottom: -2px;
      cursor: pointer;
      user-select: none;
    }
  }
}

.list-cart {
  border-top: 1px solid transparent;

  .product-item {
    display: flex;
    align-items: center;
    background: white;
    justify-content: space-between;
    font-size: 14px;
    width: 100%;

    .product-item-wrap {
      display: flex;
      align-items: center;
      cursor: pointer;
      user-select: none;

      .product-info-wrap {
        display: flex;
        align-items: center;

        .image-wrap {
          width: 80px;
          height: 80px;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .product-info {
          font-weight: bold;
          font-size: 16px;
          width: 350px;

          .product-info-title {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
        }
      }

      .product-price-wrap {

        .product-price {
          font-weight: bold;
          color: #ff1616;
          font-size: 18px;
        }

        .product-price-origin {
          text-decoration: line-through;
          color: darkgray;
        }

        .product-price-discount {
          color: black;
        }

        .product-item-trash {
        }
      }
    }

    .product-quantity {
      input {
        font-size: 16px;
        width: 36px;
        height: 36px;
        text-align: center;
        position: relative;
        bottom: -1px;
        line-height: 45px;
        outline: none;

        &:hover {
          box-shadow: 0 0 0 1px lightgray;
        }

        &:active {
          box-shadow: 0 0 0 1px blue;
        }

        &:focus {
          box-shadow: 0 0 0 1px blue;
        }
      }
    }
  }
}

.cart-right {
  background: white;
  font-size: 14px;

  .cart-info-title {
    font-size: 18px;
    font-weight: 500;
  }

  .cart-right-col {
    display: flex;
    justify-content: space-between;
    align-items: center;


    .cart-info-price {
      font-size: 16px;
      color: black;
    }

    &.cart-right-col-sum {
      color: black;
      display: flex;
      align-items: flex-start;

      .cart-info-price {
        color: red;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        span {
          color: black;
          font-size: 12px;
        }
      }
    }
  }


}
</style>
