<template>
  <v-main v-if="theProduct">
    <div class="container-a">
      <v-container class="px-0">
        <section>
          <div id="normalProduct" class="rowDetail">
            <div class="picture">
              <viewer ref="viewer" :images="listImg"
                      :options="options"
                      class="viewer" @inited="inited"
              >
                <img v-for="src in listImg" :key="src" :src="src" class="images d-none">
              </viewer>
              <div class="img-main-wrapper">
                <img :src="theProduct.pictureUrl" alt="" @click="show">
              </div>
              <span class="text-viewImage">Xem hình thực tế sản phẩm</span>
              <div class="colorAndPic">
                <ul class="owl-carousel owl-theme tabsColor">
                  <div v-for="(item, index) in listImg" :key="index" class="owl-item">
                    <li class="item">
                      <div>
                        <img :src="item"
                             alt=""
                             @click="show1(item,index )">
                      </div>
                    </li>
                  </div>
                </ul>
              </div>
            </div>
            <div class="price_sale">
              <h1 class="mb-4">{{ theProduct.name }}</h1>

              <div class="h-province dt detail scenario0">
                <span>Giá bán :</span>
              </div>
              <div class="area_price ">
                <div class="area_price-current-price">
                  {{ numberToMoney(price) }} ₫
                  <label class="ml-4 installment">Trả góp 0%</label>
                </div>
                <span class="hisprice">{{ numberToMoney(originPrice) }} ₫</span>
                <i>-{{ discountPercent }} %</i>
              </div>
              <div v-if="mainAttribute" class="models my-4">
                <label class="model-name">{{ variations[0].name }}</label>
                <div class="model-options">
                  <v-btn-toggle
                    v-model="mainAttribute"
                    color="primary "
                    mandatory
                  >
                    <v-btn
                      v-for="(itemInside, index) in variations[0].options"
                      :key="index"
                      :disabled="itemInside.status"
                      :value="itemInside.id"
                      min-width="100"
                      @click="handleAttributeBtnClick(0, itemInside.id)"
                    >
                      {{ itemInside.name }}
                    </v-btn>
                  </v-btn-toggle>
                </div>
              </div>
              <div v-if="secondAttribute" class="models my-4">
                <label class="model-name">{{ variations[1].name }}</label>
                <div class="model-options">
                  <v-btn-toggle
                    v-model="secondAttribute"
                    color="primary "
                    mandatory
                  >
                    <v-btn
                      v-for="(itemInside, index) in variations[1].options"
                      :key="index"
                      :disabled="itemInside.status"
                      :value="itemInside.id"
                      min-width="100"
                      @click="handleAttributeBtnClick(1, itemInside.id)"
                    >
                      {{ itemInside.name }}
                    </v-btn>
                  </v-btn-toggle>
                </div>
              </div>
              <div class="models product-quantity-wrap my-4">
                <label class="model-name">Số lượng</label>
                <div class="product-quantity">
                  <v-btn
                    icon
                    outlined
                    color="primary"
                    :disabled="quantity <= 1"
                    @click="handleBtnMinus"
                  >
                    <v-icon>fas fa-minus</v-icon>
                  </v-btn>
                  <label>
                    <input v-model="quantity" @change="handleInputQuantity" type="number">
                  </label>
                  <v-btn
                    icon
                    outlined
                    color="primary"
                    :disabled="quantity >= totalQuantity"
                    @click="handleBtnPlus"
                  >
                    <v-icon>fas fa-plus</v-icon>
                  </v-btn>
                </div>
              </div>
              <div class="area_order area_orderM">
                <v-btn large color="warning" outlined class="mr-2">
                  Mua ngay
                </v-btn>
                <v-btn large color="warning" @click="addItemToCard">
                  Thêm vào giỏ hàng
                </v-btn>
              </div>
            </div>
          </div>
          <div class="clr"></div>
          <div class="box_content">
            <aside class="left_content">
              <div class="characteristics">
                <h2>Đặc điểm nổi bật của OPPO A92</h2>
                <div id="owl-detail" class="owl-carousel owl-detail owl-theme">
                  <div class="owl-wrapper-outer autoHeight">
                    <div class="owl-wrapper">
                      <div class="owl-item">
                        <img alt=""
                             src="https://cdn.tgdd.vn/Products/Images/42/220654/Slider/-oppo-a92-thumbvideo.jpg">

                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="boxArticle">
                <article class="area_article" style="height:478px">
                  <h2 dir="ltr">
                    <a href="https://www.thegioididong.com/dtdd/oppo-a92" target="_blank"
                       title="Tham khảo giá điện thoại OPPO A92 chính hãng"
                       type="Tham khảo giá điện thoại OPPO A92 chính hãng">OPPO A92</a> là mẫu <a
                    href="https://www.thegioididong.com/dtdd" target="_blank"
                    title="Tham khảo giá điện thoại smartphone chính hãng"
                    type="Tham khảo giá điện thoại smartphone chính hãng">smartphone</a> tầm trung vừa mới được <a
                    href="https://www.thegioididong.com/dtdd-oppo" target="_blank"
                    title="Tham khảo giá điện thoại smartphone OPPO chính hãng"
                    type="Tham khảo giá điện thoại smartphone OPPO chính hãng">OPPO</a> ra mắt đầu tháng 5/2020. Chiếc
                    điện thoại gây ấn tượng với thiết kế màn hình khoét lỗ tràn viền, cụm 4 camera ấn tượng và được
                    bán với mức giá vô cùng phải chăng.</h2>
                  <h3 dir="ltr">
                    Hiệu năng mạnh mẽ trên Snapdragon
                  </h3>
                  <p dir="ltr">OPPO A92 được trang bị cho mình con chip Snapdragon 665 mạnh mẽ cho hiệu năng cao, <a
                    href="https://www.thegioididong.com/dtdd-choi-game" target="_blank"
                    title="Tham khảo điện thoại chơi game - cấu hình cao tại Thegioididong.com ">điện thoại chơi
                    game</a>&nbsp;tốt các tựa game mobile hiện hành cũng như&nbsp;xử lý đa nhiệm mượt mà.</p>

                  <p dir="ltr">
                    <a class="preventdefault"
                       href="https://www.thegioididong.com/images/42/220654/oppo-a92-tgdd-7.jpg"
                       onclick="return false;">
                      <img alt="Điện thoại OPPO A92 | Hiệu năng mạnh mẽ"
                           class="lazy"
                           data-original="https://cdn.tgdd.vn/Products/Images/42/220654/oppo-a92-tgdd-7.jpg"
                           src="https://cdn.tgdd.vn/Products/Images/42/220654/oppo-a92-tgdd-7.jpg"
                           style="display: block;"
                           title="Điện thoại OPPO A92 | Hiệu năng mạnh mẽ"></a>
                  </p
                  >
                  <p dir="ltr">Đi kèm với đó là GPU Adreno 610 giúp máy vừa xử lý thông tin, dữ liệu nhanh chóng vừa
                    đảm
                    bảo tiết kiệm điện năng tối đa.&nbsp;</p>
                  <p dir="ltr"><a class="preventdefault"
                                  href="https://www.thegioididong.com/images/42/220654/oppo-a92-tgdd-88.jpg"
                                  onclick="return false;"><img alt="Điện thoại OPPO A92 | Cấu hình mạnh mẽ"
                                                               class="lazy"
                                                               data-original="https://cdn.tgdd.vn/Products/Images/42/220654/oppo-a92-tgdd-88.jpg"
                                                               src="https://cdn.tgdd.vn/Products/Images/42/220654/oppo-a92-tgdd-88.jpg"
                                                               style="display: block;"
                                                               title="Điện thoại OPPO A92 | Cấu hình mạnh mẽ"></a></p>
                  <p dir="ltr">Dung lượng RAM 8 GB và 128 GB bộ nhớ trong quá đủ để người dùng thoải mái lưu trữ dữ
                    liệu, tải các ứng dụng nặng về máy sử dụng.</p>
                </article>
              </div>
            </aside>
            <aside class="right_content">
              <div class="tableparameter">
                <h2>Thông số kỹ thuật</h2>
                <ul class="parameter ">
                  <li class="p220654 g6459_79_77"><span>Màn hình:</span>
                    <div><a href="https://www.thegioididong.com/hoi-dap/man-hinh-tft-lcd-la-gi-905743"
                            target="_blank">TFT
                      LCD</a>, 6.5", <a
                      href="https://www.thegioididong.com/tin-tuc/do-phan-giai-man-hinh-qhd-hd-fullhd-2k-4k-la-gi--592178#fullhd"
                      target="_blank">Full HD+</a></div>
                  </li>
                  <li class="p220654 g72"><span>Hệ điều hành:</span>
                    <div><a href="https://www.thegioididong.com/hoi-dap/android-10-android-q-la-gi-co-gi-moi-1237224"
                            target="_blank">Android 10</a></div>
                  </li>
                  <li class="p220654 g27"><span>Camera sau:</span>
                    <div>Chính 48 MP &amp; Phụ 8 MP, 2 MP, 2 MP</div>
                  </li>
                  <li class="p220654 g29"><span>Camera trước:</span>
                    <div>16 MP</div>
                  </li>
                  <li class="p220654 g6059"><span>CPU:</span>
                    <div><a href="https://www.thegioididong.com/hoi-dap/tim-hieu-chip-qualcomm-snapdragon-665-1177729"
                            target="_blank">Snapdragon 665 8 nhân</a></div>
                  </li>
                  <li class="p220654 g50"><span><a
                    href="https://www.thegioididong.com/hoi-dap/ram-la-gi-co-y-nghia-gi-trong-cac-thiet-bi-dien-t-1216259"
                    target="_blank">RAM:</a></span>
                    <div>8 GB</div>
                  </li>
                  <li class="p220654 g49"><span>Bộ nhớ trong:</span>
                    <div>128 GB</div>
                  </li>
                  <li class="p220654 g52"><span>Thẻ nhớ:</span>
                    <div><a href="https://www.thegioididong.com/the-nho-dien-thoai" target="_blank">MicroSD, hỗ trợ
                      tối
                      đa 256 GB</a></div>
                  </li>
                  <li class="p220654 g6339_7761"><span>Thẻ SIM:</span>
                    <div><a
                      href="https://www.thegioididong.com/hoi-dap/sim-thuong-micro-sim-nano-sim-esim-la-gi-co-gi-khac-nhau-1310659#nano-sim"
                      target="_blank">2 Nano SIM</a>, <a
                      href="https://www.thegioididong.com/hoi-dap/mang-du-lieu-di-dong-4g-la-gi-731757"
                      target="_blank">Hỗ
                      trợ 4G</a></div>
                  </li>
                  <li class="p220654 g84_10882"><span>Dung lượng pin:</span>
                    <div>5000 mAh, có sạc nhanh</div>
                  </li>
                </ul>
              </div>
            </aside>
          </div>
        </section>
      </v-container>
    </div>
  </v-main>
</template>

<script>
import 'viewerjs/dist/viewer.css'
import Viewer from "v-viewer/src/component.vue"
import {numberToMoney} from '@/helpers/currency'
import {v4 as uuidv4} from 'uuid';
import {mapActions} from "vuex";

export default {
  name: "Product",

  components: {
    Viewer
  },
  data: () => (
    {
      theProduct: null,
      mainAttribute: "",
      secondAttribute: "",
      mainAttributeDisable: [],
      secondAttributeDisable: [],
      models: [],
      variations: [],
      quantity: 1,
      price: 0,
      originPrice: 0,
      totalQuantity: 0,
      name: '',
      pictureUrl: '',
      options: {movable: false, title: false, navbar: true, fullscreen: false, zoomable: false, rotatable: false},
      // options:{ inline: true, button: false, navbar: true, title: false, toolbar: true, tooltip: true, movable: false, zoomable: false, rotatable: false, scalable: false, transition: false, fullscreen: false, keyboard: false, url: "data-source" },
      // images: ['https://cf.shopee.vn/file/604c323180a0c211340c1ee6cf80bdda', 'https://cf.shopee.vn/file/01aa5858cc80b064e9f6399d089dd459'],
      imgamain: 'https://cdn.tgdd.vn/Products/Images/42/228736/iphone-12-trang-new-600x600-200x200.jpg',
      currentindex: 0,
      listImg: []
    }),
  computed: {
    discountPercent() {
      return Math.ceil(((this.originPrice - this.price) / this.originPrice) * 100)
    }
  },
  mounted() {
    const id = this.$route.params.product;
    if (!isNaN(+id)) {
      this.fetchTheProduct(id);
    }
  },
  methods: {
    ...mapActions({
      addItem: 'cart/addItem'
    }),
    numberToMoney,
    handleAttributeBtnClick(orderAttribute, attributeId) {
      this.variations[0].options = this.variations[0].options.map(item => ({
        ...item,
        status: false
      }))
      this.variations[1].options = this.variations[1].options.map(item => ({
        ...item,
        status: false
      }))

      switch (orderAttribute) {
        case 0:
          this.mainAttribute = attributeId
          this.handleClickMainAttribute()
          break;
        case 1:
          this.secondAttribute = attributeId
          this.handleClickSecondAttribute()
          break;
      }
    },
    fetchTheProduct(id) {
      // MOBILE
      this.$api.products.show(id)
        .then(data => {
          this.theProduct = data
          this.price = data.price
          this.originPrice = data.originPrice
          this.listImg.push(data.pictureUrl)
          this.totalQuantity = data.quantity

          if (data.variations?.length > 0) {
            this.mainAttribute = data.variations[0].options[0]?.id
            this.models = data.models;
            this.variations = data.variations;

            this.handleClickMainAttribute()
          }
        })
    },
    handleClickMainAttribute() {
      const avalaibleSecond = []
      this.secondAttribute = ""
      this.models.forEach(item => {
        if (item.attributeValueId === this.mainAttribute) {
          avalaibleSecond.push(item.attributeValueSecondId)
          if (!this.secondAttribute) {
            this.secondAttribute = item.attributeValueSecondId
          }
        }
      })

      this.variations[1].options = this.variations[1].options.map(item => {
        let temp
        for (let i = 0; i < avalaibleSecond.length; i++) {
          if (item.id === avalaibleSecond[i]) {
            temp = {
              ...item,
              status: false
            }
            break
          }
        }
        return temp || {
          ...item,
          status: true
        }
      })
      // Update DataModel
      this.updateDataModel();
    },
    handleClickSecondAttribute() {
      const avalaibleMain = []
      this.mainAttribute = ""

      this.models.forEach(item => {
        if (item.attributeValueSecondId === this.secondAttribute) {
          avalaibleMain.push(item.attributeValueId)
          if (!this.mainAttribute) {
            this.mainAttribute = item.attributeValueId
          }
        }
      })
      this.variations[0].options = this.variations[0].options.map(item => {
        let temp
        for (let i = 0; i < avalaibleMain.length; i++) {
          if (item.id === avalaibleMain[i]) {
            temp = {
              ...item,
              status: false
            }
            break
          }
        }
        return temp || {
          ...item,
          status: true
        }
      })
      // Update DataModel
      this.updateDataModel();
    },
    updateDataModel() {
      let theModel = null;
      for (let i = 0; i < this.models.length; i++) {
        const item = this.models[i];
        if (
          (item.attributeValueId === this.mainAttribute)
          && (item.attributeValueSecondId === this.secondAttribute)
        ) {
          theModel = item;
          break;
        }
      }
      // replace
      if (theModel) {
        this.price = theModel.price
        this.originPrice = theModel.originPrice
        this.totalQuantity = theModel.quantity
      }
    },
    handleBtnPlus() {
      if (this.quantity < this.totalQuantity) {
        this.quantity++;
      }
    },
    handleBtnMinus() {
      if (this.quantity > 1) {
        this.quantity--;
      }
    },
    handleInputQuantity() {
      if (this.quantity <= 0) {
        this.quantity = 1;
      }
      if (this.quantity > this.totalQuantity) {
        this.quantity = this.totalQuantity;
      }
    },

    inited(viewer) {
      this.$viewer = viewer
    },
    show() {
      const arrays = this.$el.querySelectorAll('.images');
      arrays[this.currentindex].click()
    },
    show1(listImg, i) {
      this.currentindex = i;
      this.imgamain = listImg;
    },
    addItemToCard() {
      let theModel
      for (let i = 0; i < this.models.length; i++) {
        const item = this.models[i];
        if (
          (item.attributeValueId === this.mainAttribute)
          && (item.attributeValueSecondId === this.secondAttribute)
        ) {
          theModel = item;
          break;
        }
      }
      if (theModel) {
        this.addItem({
          productId: this.theProduct.productId,
          productName: this.theProduct.name,
          productPictureUrl: this.theProduct.pictureUrl,
          price: this.price,
          originPrice: this.originPrice,
          attributeValue: 'Xanh',
          attributeValueSecond: '4 Gb',
          id: theModel.id,
          quantity: theModel.quantity,
          cartItemQuantity: this.quantity,
          cartItemStatus: true
        })
      } else {
        this.addItem({
          productId: this.theProduct.productId,
          productName: this.theProduct.name,
          productPictureUrl: this.theProduct.pictureUrl,
          price: this.price,
          originPrice: this.originPrice,
          attributeValue: 'Xanh',
          attributeValueSecond: '4 Gb',
          id: null,
          quantity: this.theProduct.quantity,
          cartItemQuantity: this.quantity,
          cartItemStatus: true
        })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../../../assets/variables";

.container-a {
  background: white;
}

section {
  width: 100%;
  min-width: 980px;
  margin: 0px auto 0;
  position: relative;
  font: 14px/18px Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;

  .breadcrumb {
    display: block;
    overflow: hidden;
    margin: 0;
    background: #fff;
    line-height: 32px;
    padding-top: 5px;
    list-style: none;

    li {
      display: inline-block !important;
      vertical-align: middle;
      overflow: hidden;
      text-align: -webkit-match-parent;

      a {
        text-decoration: none;
      }
    }
  }

  .rowTop h1 {
    float: left;
    overflow: hidden;
    font-size: 24px;
    color: #333;
    line-height: 40px;
  }

  .rowDetail {
    display: block;
    padding: 15px 0;
    margin-top: 5px;
    clear: both;
    position: relative;

    .picture {
      float: left;
      overflow: hidden;
      width: 42%;
      position: relative;
      margin-bottom: 20px;

      .img-main-wrapper {
        width: 400px;
        height: 400px;
        margin: auto;
      }

      img {
        display: block;
        height: auto;
        margin: auto;
        cursor: pointer;
        max-width: 100%;
      }

      .text-viewImage {
        color: #d22525;
        font-size: 14px;
        display: block;
        width: 60%;
        text-align: center;
        margin: 0 auto;
        margin-top: 15px;

      }

      .colorAndPic {
        display: block;
        position: relative;
        padding: 0 24px;
        margin: 15px 0 0 0;
        //background: red;

        ul {
          opacity: 1;
          overflow: visible;
          text-align: center;
          max-height: 98px;
          list-style: none;
          position: relative;
          width: 100%;
          align-items: center;
          display: flex;
          padding: 0;
          margin: 0;
          justify-content: center;

          .owl-item {
            width: 76px;
            float: left;

            li {
              display: inline-block;
              vertical-align: top;
              text-align: center;
              overflow: hidden;
              font-size: 11px;
              color: #333;
              padding-bottom: 5px;
              line-height: normal;
              width: 60px;

              div {
                display: block;
                width: 46px;
                height: 46px;
                border: 1px solid #dfdfdf;
                border-radius: 4px;
                padding: 6px;
                background: #fff;
                margin-bottom: 5px;
                cursor: pointer;

                img {
                  display: block;
                  height: auto;
                  margin: auto;
                  cursor: pointer;
                  max-width: 100%;
                }
              }
            }
          }
        }
      }
    }

    .price_sale {
      h1 {
        line-height: 1.2;
        margin-left: 10px;
        font-size: 24px;
      }

      float: left;
      position: relative;
      width: 50%;
      margin: 0 1% 0 1%;

      .area_orderM {
        display: flex;
        padding: 0 10px;
      }

      .h-province.dt.detail {
        float: none;
        width: auto;
        margin-left: 10px;
        padding: 0;
        clear: none;
        overflow: visible;
        margin-bottom: 5px;
        position: relative;
        display: inline-block;
        vertical-align: middle;

        span {
          display: inline-block;
          color: #333;
          font-size: 14px;
          margin-bottom: -3px;
          padding-top: 3px;

        }

        div {
          position: static;
          display: inline-block;
          width: auto;
          padding: 0;

          b {
            cursor: pointer;
            font-size: 14px;
            color: #4A90E2;

          }

          div {

          }

        }
      }

      .area_price {
        vertical-align: middle;
        overflow: hidden;
        line-height: 30px;
        padding: 0 10px 0;

        .area_price-current-price {
          display: flex;
          align-items: center;
          font-weight: bold;
          overflow: hidden;
          font-size: 30px;
          color: #bf081f;
          vertical-align: middle;
          margin-right: 5px;
          position: relative;

          .installment {
            background: #f28902;
            margin: 0 0 0 5px;
            display: inline-block;
            position: relative;
            font-size: 11px;
            color: #fff;
            font-weight: 600;
            border-radius: 3px;
            padding: 0 5px 0 8px;
            height: 18px;
            line-height: 18px;
          }
        }

        span {
          display: inline-block;
          vertical-align: middle;
          font-size: 14px;
          color: #333;
          text-decoration: line-through;
          margin-right: 5px;
        }

        i {
          display: inline-block;
          overflow: hidden;
          font-size: 14px;
          color: #bf081f;
          vertical-align: middle;
          font-style: normal;
          margin-right: 5px;

        }

      }

      .models {
        display: flex;
        align-items: baseline;
        padding: 0 10px 0;

        .model-name {
          width: 110px;
          display: table;
        }

        .model-options {
          display: flex;
          align-items: center;
          flex-wrap: wrap;

          button {
            border: 1px solid lightgray;
            height: 35px;
          }

          button:hover {
            border: 1px solid $app-blue-color;
          }
        }
      }

      .area_promotion {
        //margin-top: 10px;
        display: block;
        overflow: hidden;
        border: 1px solid #ddd;
        border-radius: 4px;
        position: relative;
        margin: 5px 10px 12px;
        background: #fff;
        padding-bottom: 10px;

      }

      .vipservice {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 12px 12px 5px 12px;
        margin: 0 10px 10px;

        b {
          display: block;
          margin-bottom: 10px;
        }

        .o1 {
          margin-bottom: 10px;

          a {
            color: #333;
            text-decoration: none;
            cursor: pointer;
          }

        }

        .o2 {
          margin-bottom: 10px;

          a {
            color: #333;
            text-decoration: none;
          }

        }

        .notemoreproduct {
          margin-bottom: 10px;
          cursor: pointer;
          position: relative;

          .first {

            .iconmobile-checkbox {
              margin-right: 5px;
              background-position: -145px -30px;
              width: 16px;
              height: 16px;
              vertical-align: sub;
              background-repeat: no-repeat;
              display: inline-block;
              line-height: 30px;
              cursor: pointer;

              span {

              }
            }

          }

          .last {
            padding: 10px;
            margin-top: 10px;
            position: relative;
            background: #fff;
            border: 1px solid #ccc;
            border-radius: 4px;
            cursor: pointer;

          }

        }

        .o3 {
          margin-bottom: 10px;

          a {
            color: #333;
            text-decoration: none;

            .iconmobile-checkbox {
              margin-right: 5px;
              background-position: -145px -30px;
              width: 16px;
              height: 16px;
              vertical-align: sub;
              background-repeat: no-repeat;
              display: inline-block;
              line-height: 30px;
            }


          }
        }
      }

    }

    .rightInfo.phone {
      //background: #d0021b;
      float: right;
      width: 22.5%;
      overflow: visible;
      position: relative;

      .checkexits {
        margin-right: 10px;
        background: #fff;
        position: relative;

        .kthlbl {
          display: block;
          font-size: 14px;
          color: #288ad6;
          padding: 5px 0 12px 0;
          font-weight: normal;
          cursor: pointer;

          .iconshop-local {
            background-repeat: no-repeat;
            display: inline-block;
            line-height: 30px;
            vertical-align: middle;
            background-position: 0 0;
            width: 13px;
            height: 16px;
            margin-right: 5px;
            margin-top: -3px;

          }

        }

        .cr {
          clear: both;
        }
      }

      .policy {
        display: block;
        overflow: hidden;
        border: 1px solid #ddd;
        border-radius: 3px;
        padding-bottom: 5px;
        margin: 0 0 10px 0;
        list-style: none;

        .inpr:before {
          content: '';
          width: 19px;
          height: 16px;
          background-size: 19px 16px;
          position: absolute;
          display: block;
          top: 4px;
          left: 0;

        }

        li:first-child {
          padding-top: 0;
          min-height: 30px;
        }

        li:before {
          margin-left: 0;
        }

        li {
          display: block;
          overflow: hidden;
          padding: 5px 0 5px 28px;
          font-size: 14px;
          color: #333;
          line-height: 20px;
          margin: 0 10px;
          border-bottom: solid 1px #f0f0f0;
          position: relative;

          span {
            font-size: 14px;
            color: #333;
            line-height: 20px;

            a {
              color: #288ad6;
              text-decoration: none;
            }
          }

        }

        .wrpr {
          display: block;
          overflow: hidden;
          padding: 5px 0 5px 28px;
          font-size: 14px;
          color: #333;
          line-height: 20px;
          margin: 0 10px;
          border-bottom: solid 1px #f0f0f0;
          position: relative;
        }
      }

      .productOld {
        border: solid 1px #ddd;
        padding: 10px 12px 10px 12px;
        margin-bottom: 10px;
        border-radius: 3px;
        position: relative;
        background-repeat: no-repeat;
        box-sizing: inherit;

        .viewold {
          margin-top: 0;
          display: block;
          overflow: hidden;
          font-size: 14px;
          color: #288ad6;
          border-radius: 3px;
          text-decoration: none;

          div {
            display: block;
            overflow: hidden;
            color: #333;
            margin-top: 3px;

            span {
              display: block;
              line-height: 22px;
              color: #333;

              strong {
                color: #e10c00;
              }
            }
          }
        }
      }


    }


  }

  .clr {
    clear: both;
  }

  .box_content {
    display: block;
    overflow: hidden;
    border-top: 1px solid #e4e4e4;
    margin-top: 15px;

    .left_content {
      float: left;
      width: 65%;
      overflow: hidden;
      position: relative;
      margin: 20px 0;

      .characteristics {
        display: block;
        overflow: hidden;
        position: relative;
        padding-bottom: 20px;
        cursor: pointer;

        h2 {
          display: block;
          line-height: 1.3em;
          font-size: 20px;
          color: #333;
          margin-bottom: 10px;

        }

      }

      .boxArticle {
        .area_article {
          display: block;
          font-size: 16px;
          color: #333;
          line-height: 1.5;
          margin-top: 15px;
          max-width: 750px;
          overflow: hidden;

          h2 {
            display: block;
            overflow: hidden;
            font-size: 20px;
            color: #333;
            margin-bottom: 10px;
            line-height: 1.3em;
            font-weight: bold;

            a {
              font-weight: bold;
              font-size: 20px;
            }

          }

          h3 {
            display: block;
            line-height: 1.3em;
            font-size: 20px;
            color: #333;
            margin-bottom: 0;
          }

          p {
            display: block;
            margin: 10px 0;
          }

        }
      }
    }

    .right_content {
      float: right;
      width: 30%;
      overflow: visible;
      margin: 20px 0;

      .tableparameter {
        display: block;
        overflow: visible;

        h2 {
          display: block;
          line-height: 1.3em;
          font-size: 20px;
          color: #333;
          margin-bottom: 0;
        }

        .parameter {
          display: block;
          position: relative;
          overflow: hidden;
          background: #fff;
          padding-top: 10px;
          list-style: none;

          li {
            display: table;
            background: #fff;
            width: 100%;
            border-top: 1px solid #eee;
            padding: 5px 0;

            span {
              display: table-cell;
              width: 40%;
              vertical-align: top;
              padding: 5px 0;
              font-size: 14px;
              color: #666;
            }
          }
        }
      }
    }

  }


}


.product-quantity-wrap {
  padding: 0 10px;
  display: flex;
  align-items: center;

  .product-quantity {
    input {
      font-size: 16px;
      width: 36px;
      height: 36px;
      text-align: center;
      position: relative;
      bottom: -1px;
      line-height: 45px;
      outline: none;

      &:hover {
        box-shadow: 0 0 0 1px lightgray;
      }

      &:active {
        box-shadow: 0 0 0 1px blue;
      }

      &:focus {
        box-shadow: 0 0 0 1px blue;
      }
    }
  }
}
</style>
