<template>
  <v-row no-gutters>
    <v-col>
      <div class="filter">
        <div class="menu-brand">
          <nuxt-link v-for="(brand,index) in listBrand" :key="index" :brand="brand" class="link-brand " to="#">
            <img :src="brand.urlImg" alt="" class="img-brand">
          </nuxt-link>
        </div>
        <div class="menu-price my-4">
          <span>Chọn mức giá :</span>
          <nuxt-link v-for="(price,index) in listPrice" :key="index" :price="price" class="link-price" to="#">
            {{ price.text }}
          </nuxt-link>
          <a href=""></a>
        </div>
      </div>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "MenuBrand",
  props: {
    brand: {
      type: Object
    }
  },
  data() {
    return {
      listBrand: [
        {

          urlImg: 'https://cdn.tgdd.vn/Brand/1/iPhone-(Apple)42-b_52.jpg'
        },
        {

          urlImg: 'https://cdn.tgdd.vn/Brand/1/Samsung42-b_25.jpg'
        },
        {

          urlImg: 'https://cdn.tgdd.vn/Brand/1/OPPO42-b_5.jpg'
        },
        {

          urlImg: 'https://cdn.tgdd.vn/Brand/1/Xiaomi42-b_45.jpg'
        },
        {

          urlImg: 'https://cdn.tgdd.vn/Brand/1/Vivo42-b_50.jpg'
        },
        {

          urlImg: 'https://cdn.tgdd.vn/Brand/1/Realme42-b_37.png'
        },
        {

          urlImg: 'https://cdn.tgdd.vn/Brand/1/OnePlus42-b_36.jpg'
        },

      ],
      listPrice: [
        {
          text: 'Dưới 2 triệu'
        },
        {
          text: 'Từ 2 -4 triệu'
        },
        {
          text: 'Từ 4 -7 triệu'
        },
        {
          text: 'Từ 7 -13 triệu'
        },
        {
          text: 'Từ 13 -20 triệu'
        },
        {
          text: ' 20 triệu'
        }

      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.filter {
  .menu-brand {
    background: #fff;
    overflow: hidden;
    display: flex;

    .link-brand {
      width: 100%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #eee;
      height: 40px;
      color: #288ad6;

      .img-brand {
        max-height: 70% !important;

      }

    }
  }

  .menu-price {
  }
}

.link-price {
  text-decoration: none !important;
  margin-left: 20px;
}
</style>
