<template>
  <v-skeleton-loader
    class="product mx-auto pa-2 e"
    type="card, list-item-two-line"
    max-height="324px"
    style="border-radius: unset"
  ></v-skeleton-loader>
</template>

<script>
export default {
  name: "ProductItemSkeletonLoader",
}
</script>
