<template>
  <nuxt-link :title="product.name" class="product pa-2" :to="`/products/${product.id}`">
    <div class="promotion-label">
      <span class="pa-1">Trả góp <b>0%</b></span>
    </div>
    <div class="img-container">
      <img :src="product.pictureUrl"
           :alt="product.name">
      <aside>
        <img alt="khong co anh" class="img-result" src="http://cdn.tgdd.vn/2020/10/content/icon2-50x50.png">
        <span>Thu cũ đổi mới</span>
      </aside>
    </div>

    <div class="product-content px-2">
      <h3 class="pt-1">{{ product.name }}</h3>
      <div class="price-product pt-1">
        <strong>{{ numberToMoney(product.price) }} ₫</strong>
        <span class="price-product-discount">{{ numberToMoney(product.originPrice) }} ₫</span>
        <span>-{{ Math.ceil(((product.originPrice - product.price) / product.originPrice) * 100) }} %</span>
      </div>
      <div class="review pt-1">
        <v-icon color=" accent-2" x-small>fas fa-star</v-icon>
        <v-icon color=" accent-2" x-small>fas fa-star</v-icon>
        <v-icon color=" accent-2" x-small>fas fa-star</v-icon>
        <v-icon color=" accent-2" x-small>fas fa-star-half-alt</v-icon>
        <v-icon color=" accent-2" x-small>far fa-star</v-icon>
      </div>
    </div>
  </nuxt-link>
</template>

<script>
import {numberToMoney} from '../helpers/currency'

export default {
  name: "ProductItem",
  props: {
    product: {
      type: Object
    }
  },
  data() {
    return {}
  },
  methods: {
    numberToMoney
  }
}
</script>

<style lang="scss" scoped>
.product {
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5) !important;
  min-height: 324px;
  width: 100%;
  padding: 10px 0;
  text-decoration: none;
  display: block;
  overflow: hidden;
  background: #fff;

  &:hover {
    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .12) !important;
    position: relative;
    z-index: 1;

    .product-content {
      h3 {
        color: #288ad6;
      }
    }

    .img-container > img {
      margin: 5px auto 25px;
    }
  }

  .product-content {
    h3 {
      font-weight: 500;
      display: block;
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .promotion-label span {
    background: #fbda00;
    font-size: 11px;
    color: #333;
    border-radius: 2px;
  }

  .img-container {
    position: relative;
    display: flex;
    height: 221px;

    > img {
      min-height: 176px;
    }

    img {
      display: block;
      width: 180px;
      height: auto;
      padding: 2px 4px;
      margin: 15px auto 15px;
      transition: .2s ease-in-out;
      font-size: 14px;
    }

    aside {
      display: flex;
      align-items: center;
      background: linear-gradient(270deg, #034bac 0%, #2374e1 100%, #2374e1 100%);
      position: absolute;
      left: 0;
      bottom: 0;
      border-radius: 10px;
      margin: 10px 5px;
      overflow: hidden;
      padding: 0 6px 0 0;
      max-height: 20px;

      .img-result {
        display: inline-block;
        width: auto;
        height: 20px;
        margin: 0;
        vertical-align: middle;
      }

      span {
        text-decoration: none;
        vertical-align: middle;
        color: #fff;
        font-size: 11px;
        text-align: center;
        text-transform: uppercase;
        margin-right: 4px;
        position: relative;
        bottom: -1px;
      }
    }
  }


  h3 {
    padding: 0;
    color: #333;
    line-height: 1.3em;
    font-size: 14px;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  h6 {
    font-size: 12px;
    color: #d0021b;
  }

  .price-product {
    padding: 0;
    display: block;
    overflow: hidden;

    strong {
      display: inline-block;
      vertical-align: middle;
      overflow: hidden;
      font-size: 14px;
      color: #bf081f;
      line-height: 15px;
      font-weight: bolder;
    }

    .price-product-discount {
      vertical-align: middle;
      font-size: 12px;
      text-decoration: line-through;
      margin-left: 5px;
      color: #222;
    }

    span {
      vertical-align: middle;
      font-size: 12px;
      margin-left: 5px;
      color: #bf081f;
    }

    i {
      font-size: 12px;
      color: #bf081f;
      margin: 0 5px 0;
    }
  }

  .review {
    i {
      color: #f59a1c;
    }
  }
}
</style>
