<template>
  <v-card flat class="the-bottom-navbar">
    <v-toolbar
      color="#FED101"
      tile
      height="40px"
      elevation="0"
      flat
      class="bg-toolbar"
    >
    </v-toolbar>
    <v-container class="py-0">
      <v-card
        tile
        class="mx-auto"
        style="margin-top: -40px;"
        elevation="0"
      >
        <v-toolbar
          flat
          height="40px"
          color="#FED101"
          class="d-flex justify-center"
        >
          <nuxt-link
            v-for="(item, index) in menus"
            :key="index"
            class="menu-link"
            :to="item.to"
            :exact="item.exact"
            active-class="active-class"
          >
            <i
              v-if="item.icon"
              class="mr-1"
              :class="`${item.icon}`"
            >
            </i>
            {{ item.title }}
          </nuxt-link>
        </v-toolbar>
      </v-card>
    </v-container>
  </v-card>
</template>

<script>

export default {
  name: 'TheBottomHeader',
  data() {
    return {
      menus: [
        {
          icon: 'fas fa-mobile-alt',
          title: "Điện thoại",
          to: "/mobile"
        },
        {
          icon: 'fas fa-laptop',
          title: "Laptop",
          to: "/laptop"
        },
        {
          icon: 'fas fa-laptop',
          title: "Tablet",
          to: "/tablet"
        },
        {
          icon: 'fas fa-laptop',
          title: "Phụ kiện",
          to: "/acc"
        }
      ],
    };
  },
  computed: {},
  methods: {}
};
</script>

<style scoped lang="scss">
.menu-link {
  color: black;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;

  &:hover {
    background: white;
  }
}

.menu-input-search {
  color: black;
}

.active-class {
  background: white;
}
</style>
