<template>
  <div>
    <the-top-header/>
    <the-bottom-header/>
  </div>
</template>

<script>
import TheTopHeader from "./TheTopHeader";
import TheBottomHeader from "./TheBottomHeader";

export default {
  name: "TheHeader",
  components: {
    TheTopHeader, TheBottomHeader
  }
}
</script>
