<template>
  <v-card flat class="the-top-navbar">
    <v-app-bar
      color="dark"
      dark
      tile
      height="48px"
      elevation="0"
      flat
      class="bg-toolbar"
      prominent
    >
    </v-app-bar>
    <v-container class="pa-0">
      <v-card
        tile
        class="mx-auto"
        style="margin-top: -48px;"
        elevation="0"
      >
        <v-toolbar
          flat
          height="48px"
          color="dark"
          dark
          class="the-top-navbar "
        >
          <v-toolbar-title class="mr-4">
            <router-link to="/" class="logo hidden-xs-only d-flex">
              <img src="https://www.thegioididong.com/Content/newYear2020/logo.png" alt="">
            </router-link>
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <div
            class="search-input"
            @focusin="handleFocus"
            @focusout="handleFocusOut"
            tabindex="0"
          >
            <v-text-field
              v-model="searchText"
              label="Tìm kiếm ..."
              prepend-inner-icon="fa-search"
              class="menu-input-search"
              dense
              solo
              light
              :hide-details="true"
            ></v-text-field>
            <div v-if="showResult" class="search-result elevation-3">
              <div v-if="loading">
                <v-skeleton-loader
                  light
                  type="list-item-avatar-two-line, divider"
                ></v-skeleton-loader>
                <v-skeleton-loader
                  light
                  type="list-item-avatar-two-line"
                ></v-skeleton-loader>
              </div>
              <div v-else-if="noResult" class="py-2 mx-4 primary--text">
                Không tìm thấy kết quả tìm kiếm với từ khóa"<b>
                {{
                  searchText
                }}
              </b>"
              </div>
              <template v-else>
                <div
                  v-for="(product, index) in list.slice(0,5)"
                  :key="index"
                  @click="viewItemDetail(product.id)"
                  class="product-item pa-2">
                  <div class="left-col ">
                    <div class="img-wrapper">
                      <img :src="product.pictureUrl" :alt="product.name">
                    </div>
                  </div>
                  <div class="right-col mx-2">
                    <div class="product-name">{{ product.name }}</div>
                    <div class="product-price">
                      <div v-if="product.price" class="red--text mr-2">
                        {{ numberToMoney(product.price) }} đ
                      </div>
                      <div v-if="product.originPrice" class="mr-2 origin-price">
                        {{ numberToMoney(product.originPrice) }} đ
                      </div>
                      <div v-if="product.originPrice" class="">
                        -{{ Math.ceil(((product.originPrice - product.price) / product.originPrice) * 100) }} %
                      </div>
                    </div>
                  </div>
                </div>
              </template>
            </div>
          </div>
          <v-spacer></v-spacer>
          <v-btn to="/cart" outlined>
            <i class="fas fa-shopping-cart mr-2"></i>
            Giỏ hàng
            <span class="numbers-item-of-cart ml-2">{{ cartTotalItem }}</span>
          </v-btn>
        </v-toolbar>
      </v-card>
    </v-container>
  </v-card>
</template>

<script>
import {numberToMoney} from "../helpers/currency";
import {mapGetters} from "vuex";

export default {
  name: "TheTopHeader",
  data: () => ({
    searchText: '',
    list: [],
    loading: true,
    showResult: false,
    noResult: false,
    menus: [
      {
        icon: 'mdi-upload-outline',
        title: "Import",
        to: {name: 'uploads'}
      },
      {
        icon: '',
        title: "Partner",
        to: {name: 'partners'},
        children: [
          {
            icon: '',
            title: "List",
            to: {name: 'partners'},
            exact: true
          },
          {
            icon: '',
            title: "Add new",
            to: {name: 'partners.store'},
            exact: true
          }
        ]
      }
    ],
  }),
  computed: {
    ...mapGetters({
      cartTotalItem: 'cart/cartTotalItem'
    }),
  },
  watch: {
    searchText(val) {
      this.searchFilter(val);
    }
  },
  methods: {
    numberToMoney,
    handleFocus() {
      if (this.list.length > 0) {
        this.showResult = true;
      }
    },
    handleFocusOut() {
      this.showResult = false;
    },
    viewItemDetail(id) {
      this.showResult = false;
      this.$router.push(`/product/${id}`)
    },
    searchFilter(searchKey) {
      // turn on loading
      this.showResult = true;
      this.loading = true;
      this.noResult = false;

      clearTimeout(this.debounce);
      this.debounce = setTimeout(() => {
        if (searchKey) {
          this.$api.products.search(searchKey)
            .then(({data}) => {
              this.loading = false;
              if (data.length > 0) {
                // turn of loading

                this.list = data;
              } else {
                this.noResult = true;
                this.list = [];
              }
            })
            .catch(er => {
              console.log(er);
              // turn of loading
              this.loading = false;
              this.list = [];
            });
        } else {
          // turn of loading
          this.loading = false;
          this.list = [];
        }
      }, 400);
    },
  }
}
</script>

<style scoped lang="scss">
.the-top-navbar {
  z-index: 1;

  .numbers-item-of-cart {
    background: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: black;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .search-input {
    position: relative;
    z-index: 9999;
    width: 50%;


    .search {
      width: 100%;
    }

    .search-result {
      position: absolute;
      min-width: 50%;
      width: 100%;
      z-index: 9999;
      left: 0;
      //min-height: 190px;
      background: #ffffff;

      .product-item {
        display: flex;
        font-weight: 500;
        border-bottom: 1px dotted #ccc;
        color: black;

        .left-col {
          .img-wrapper {
            width: 60px;
            height: 60px;
            overflow: hidden;

            img {
              width: 100%;
              height: auto;
            }
          }
        }

        .right-col {
          .product-price {
            display: flex;
            font-size: 14px;
            align-items: center;
          }

          .origin-price {
            text-decoration: line-through;
            color: darkgray;
          }
        }
      }
    }
  }
}
</style>
