<template>
  <v-container class="px-0">
    <v-row v-if="listCart && listCart.length>0">
      <v-col class="pr-0" cols="8">
        <v-container class="py-0 ">
          <v-row class="mb-3">
            <v-col class="select-all">
              <div class="select-all-input">
                <div class="select-all-input-text">{{ totalProduct }} sản phẩm</div>
              </div>
              <div style="margin-left: 180px">Giá</div>
              <div class="trash-button">
                Số lượng
              </div>
            </v-col>
          </v-row>
          <v-row class="pr-0" cols="8">
            <div class="package-title clearfix">
              <div class="package-title-left">
                <span class="package-title-name">Gói hàng 1 của 2</span>
              </div>
              <div class="package-title-right">
                <span class="package-title-tips">Được giao bởi</span>
                <span class="package-title-brand">Mr. Duy</span>
              </div>
            </div>
            <div class="delivery-option">
              <div>
                <div class="delivery-option-body">
                  <div class="delivery-slider">
                    <p class="delivery-slider-title">
                      Tùy chọn giao hàng
                    </p>
                    <div class="delivery-slider-wrap without-arrow">
                      <div class="next-slick next-slick-outer next-slick-horizontal">
                        <div class="next-slick-inner next-slick-initialized">
                          <div class="next-slick-list">
                            <div class="next-slick-track">
                              <div class="next-slick-slide next-slick-active delivery-item">
                                <div class="delivery-item-inner delivery-item-selected">
                                  <div class="delivery-item-top">
                                    <div class="delivery-item-content">
                                      <div class="delivery-item-first-line">
                                        <v-icon color="blue">fas fa-check-circle</v-icon>
                                        <div class="delivery-item-price">
                                          <span class="delivery-item-current-price">9.900 ₫</span>
                                          <span class="delivery-item-origin-price"></span>
                                        </div>
                                      </div>
                                      <p class="delivery-item-name-wrap">
                                        <span class="delivery-item-name">GH tiêu chuẩn</span>

                                      </p>
                                    </div>
                                  </div>
                                  <div class="delivery-item-bottom delivery-item-bottom-no-schedule-selected-nlu">
                                    <p class="delivery-item-time">
                                      Est. Arrival: 12-13 thg 1
                                    </p>
                                  </div>
                                </div>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </v-row>
          <v-row v-for="(product, index) in listCart" :key="index" class="list-cart">
            <v-col :title="product.name" class="product-item">
              <div
                class="product-item-wrap"
                @click="handleCheckItem(product)"
              >

                <div class="product-info-wrap">
                  <div class="image-wrap mr-2">
                    <img
                      :src="product.pictureUrl"
                      alt="">
                  </div>
                  <div class="product-info mr-2">
                    <div class="product-info-title">
                      {{ product.name }}
                    </div>
                  </div>
                </div>
                <div class="product-price-wrap mx-2">
                  <div class="product-price">
                    {{ numberToMoney(product.price) }} ₫
                  </div>
                  <div class="product-price-origin">
                    {{ numberToMoney(product.originPrice) }} ₫
                  </div>
                  <div class="product-price-discount">
                    -{{ Math.ceil(((product.originPrice - product.price) / product.originPrice) * 100) }} %
                  </div>
                  <v-btn color="error" icon small @click.stop="deleteItem(product)">
                    <v-icon>far fa-trash-alt</v-icon>
                  </v-btn>
                </div>
              </div>
              <div class="product-quantity">
                <div class="product-quantity-line">Số lượng :</div>
                <label>
                  <input v-model="product.quantity" type="number" @change="handleInputQuantity(product)">
                </label>

              </div>
            </v-col>
          </v-row>
          <v-row class="pr-0" cols="8">
            <div class="package-title clearfix">
              <div class="package-title-left">
                <span class="package-title-name">Gói hàng 2 của 2</span>
              </div>
              <div class="package-title-right">
                <span class="package-title-tips">Được giao bởi</span>
                <span class="package-title-brand">Mr. Hung</span>
              </div>
            </div>
            <div class="delivery-option">
              <div>
                <div class="delivery-option-body">
                  <div class="delivery-slider">
                    <p class="delivery-slider-title">
                      Tùy chọn giao hàng
                    </p>
                    <div class="delivery-slider-wrap without-arrow">
                      <div class="next-slick next-slick-outer next-slick-horizontal">
                        <div class="next-slick-inner next-slick-initialized">
                          <div class="next-slick-list">
                            <div class="next-slick-track">
                              <div class="next-slick-slide next-slick-active delivery-item">
                                <div class="delivery-item-inner delivery-item-selected">
                                  <div class="delivery-item-top">
                                    <div class="delivery-item-content">
                                      <div class="delivery-item-first-line">
                                        <v-icon color="blue">fas fa-check-circle</v-icon>
                                        <div class="delivery-item-price">
                                          <span class="delivery-item-current-price">9.900 ₫</span>
                                          <span class="delivery-item-origin-price"></span>
                                        </div>
                                      </div>
                                      <p class="delivery-item-name-wrap">
                                        <span class="delivery-item-name">GH tiêu chuẩn</span>

                                      </p>
                                    </div>
                                  </div>
                                  <div class="delivery-item-bottom delivery-item-bottom-no-schedule-selected-nlu">
                                    <p class="delivery-item-time">
                                      Est. Arrival: 12-13 thg 1
                                    </p>
                                  </div>
                                </div>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </v-row>
          <v-row v-for="(product, index) in listCart" :key="index" class="list-cart">
            <v-col :title="product.name" class="product-item">
              <div
                class="product-item-wrap"
                @click="handleCheckItem(product)"
              >

                <div class="product-info-wrap">
                  <div class="image-wrap mr-2">
                    <img
                      :src="product.pictureUrl"
                      alt="">
                  </div>
                  <div class="product-info mr-2">
                    <div class="product-info-title">
                      {{ product.name }}
                    </div>
                  </div>
                </div>
                <div class="product-price-wrap mx-2">
                  <div class="product-price">
                    {{ numberToMoney(product.price) }} ₫
                  </div>
                  <div class="product-price-origin">
                    {{ numberToMoney(product.originPrice) }} ₫
                  </div>
                  <div class="product-price-discount">
                    -{{ Math.ceil(((product.originPrice - product.price) / product.originPrice) * 100) }} %
                  </div>
                  <v-btn color="error" icon small @click.stop="deleteItem(product)">
                    <v-icon>far fa-trash-alt</v-icon>
                  </v-btn>
                </div>
              </div>
              <div class="product-quantity">
                <div class="product-quantity-line">Số lượng :</div>
                <label>
                  <input v-model="product.quantity" type="number" @change="handleInputQuantity(product)">
                </label>

              </div>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
      <v-col cols="4">
        <v-container class="cart-right py-0">
          <v-row>
            <v-col class="cart-right-col cart-right-col-sum">
              <v-btn block color="warning" to="/o2k">Đặt hàng</v-btn>
            </v-col>
          </v-row>
          <div class="checkout-address">
            <div class="checkout-address-inner">
              <div class="ok_mt">
                <p class="address-hat">Địa chỉ nhận hàng</p>
                <div class="address-title-container">
                 <v-icon color="blue">fas fa-map-marker-alt</v-icon>&nbsp;
                  <span class="address-title">Nguyễn Đăng Duy</span>
                  <a class="address-edit automation-address-edit" href="#">Chỉnh sửa</a>
                </div>
              </div>
            </div>
            <div class="address-info-item address-value">
              <span>ktx khu b đại học quốc gia, Phường Linh Trung, Quận Thủ Đức, Hồ Chí Minh</span>
            </div>
            <div class="checkout-address-cp">
              <div class="checkout-address-cp-view">
                <div class="checkout-address-cp-header">
                  <div class="checkout-address-cp-text">Dễ dàng lấy hàng với các điểm lấy hàng sau.</div>
                  <span class="lazada lazada-arrow lazada-icon checkout-address-cp-icon"></span>
                </div>
                <div class="checkout-address-cp-footer">
                  <div class="checkout-address-cp-text-sug">5 điểm lấy hàng được đề xuất</div>
                </div>
              </div>
            </div>
          </div>
          <div class="checkout-simple-address">
            <div class="checkout-simple-address-inner">
             <v-icon color="blue">fas fa-address-book</v-icon>&nbsp;
              <span class="checkout-simple-address-title">Thông tin xuất hóa đơn</span>
              <a href="#" class="address-edit automation-address-edit">Chỉnh sửa</a>
            </div>
          </div>
          <div class="input-field-label">
            <div class="input-field-label-inner clearfix">
              <div class="input-field-item-wrapper">
                <div class="input-field-item" >
                 <v-icon color="blue">fas fa-envelope</v-icon> &nbsp;
                  <span class="input-field-item-value">nguyendangduynonglam@gmail.com</span>
                </div>
              </div>
              <a href="#" class="input-field-edit">Chỉnh sửa</a>
            </div>
          </div>
          <div class="input-field-label">
            <div class="input-field-label-inner clearfix">
              <div class="input-field-item-wrapper">
                <div class="input-field-item" >
                  <v-icon color="blue">fas fa-phone-alt</v-icon> &nbsp;
                  <span class="input-field-item-value">0386191515</span>
                </div>
              </div>
              <a href="#" class="input-field-edit">Chỉnh sửa</a>
            </div>
          </div>
          <div class="input-field-label">
            <div class="input-field-label-inner clearfix">
              <div class="input-field-item-wrapper">
                <div class="input-field-item" >
                  <v-icon color="blue">fas fa-dollar-sign</v-icon> &nbsp; &nbsp;
                  <span class="input-field-item-value">Mã số thuế</span>
                </div>
              </div>
              <a href="#" class="input-field-edit">Chỉnh sửa</a>
            </div>
          </div>
          <div class="summary-section">
            <div class="summary-section-heading">
              Thông tin đơn hàng
            </div>
            <div class="summary-section-content">
              <div class="checkout-summary">
                <div class="checkout-summary-rows">
                 <div class="checkout-summary-row">
                   <div class="checkout-summary-main">
                     <div class="checkout-summary-label">
                       Tạm tính
                     </div>
                     <div class="checkout-summary-value">
                      <span class="checkout-summary-noline-value">
                        1.890.000 ₫
                      </span>
                     </div>
                   </div>
                 </div>
                  <div class="checkout-summary-row">
                    <div class="checkout-summary-main">
                      <div class="checkout-summary-label">
                        Phí giao dịch
                      </div>
                      <div class="checkout-summary-value">
                      <span class="checkout-summary-noline-value">
                        16.500 ₫
                      </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="checkout-order-total">
                  <div class="checkout-order-total-row">
                    <div class="checkout-order-total-title">
                      Tổng cộng
                    </div>
                    <div class="checkout-order-total-fee">1.906.500 ₫</div>
                    <small class="checkout-order-total-fee-tip">Đã bao gồm VAT</small>
                  </div>
                </div>
              </div>
            </div>
          </div>



        </v-container>
      </v-col>
    </v-row>
    <v-row v-else>
      <v-col>
        <div class="no-data">
          <div>Không có sản phẩm nào trong giỏ hàng</div>
          <v-btn color="warning" to="/">
            Tiếp tục mua sắm
          </v-btn>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import {numberToMoney} from '@/helpers/currency'
import {mapMutations} from 'vuex'

export default {
  name: "Cart",
  data: () => ({
    checkAll: true,
    quantity: 0,
    feeShip: 100000,
    listCart: [
      {
        name: "I phone 128 Gb I phone 128 Gb I phone 128 Gb I phone 128 Gb",
        pictureUrl: "https://thegioididongfake.com/images/products/3/0.jpg",
        id: 20,
        price: 180000,
        originPrice: 360000,
        quantity: 10,
        status: false
      },
      {
        name: "Laptop Asus VivoBook A412FA i5 8265U/8GB/512GB/Win10 (EK343T)",
        pictureUrl: "https://thegioididongfake.com/images/products/9/0.jpg",
        id: 10,
        price: 15990000,
        originPrice: 16990000,
        quantity: 5,
        status: true
      },
      {
        name: "Laptop Asus VivoBook A412FA i5 8265U/8GB/512GB/Win10 (EK343T)",
        pictureUrl: "https://thegioididongfake.com/images/products/9/0.jpg",
        id: 11,
        price: 15990000,
        originPrice: 16990000,
        quantity: 5,
        status: true
      },
      {
        name: "Laptop Asus VivoBook A412FA i5 8265U/8GB/512GB/Win10 (EK343T)",
        pictureUrl: "https://thegioididongfake.com/images/products/9/0.jpg",
        id: 13,
        price: 15990000,
        originPrice: 16990000,
        quantity: 5,
        status: true
      }
    ]
  }),
  computed: {
    totalProduct() {
      let sum = 0
      this.listCart.forEach(item => {
        sum += item.quantity
      })
      return sum
    },
    totalProductSelected() {
      let sum = 0
      this.listCart.forEach(item => {
        if (item.status === true) sum += item.quantity
      })
      return sum
    },
    totalPriceProduct() {
      let sum = 0
      this.listCart.forEach(item => {
        if (item.status === true) sum += item.price * item.quantity
      })
      return sum
    },
    totalPriceCart() {
      return this.totalPriceProduct + this.feeShip
    },
  },
  mounted() {
    this.checkStatusBtnCheckAll();
  },
  methods: {
    ...mapMutations({
      setSnackBarOn: 'SET_DISPLAY_SNACKBAR',
      setSnackBarContent: 'SET_SNACKBAR_CONTENT',
      setSnackBarColor: 'SET_SNACKBAR_COLOR'
    }),
    numberToMoney,
    checkStatusBtnCheckAll() {
      // check all
      const listTemp = this.listCart.filter(item => {
        return item.status === false
      })
      this.checkAll = listTemp.length === 0;
    },
    handleCheckAll() {
      this.checkAll = !this.checkAll;
      this.listCart.forEach(item => {
        item.status = this.checkAll
      })
    },
    handleCheckItem(product) {
      product.status = !product.status

      // check all
      this.checkStatusBtnCheckAll()
    },
    handleBtnPlus(product) {
      product.quantity++;
    },
    handleBtnMinus(product) {
      if (product.quantity > 1) {
        product.quantity--;
      }
    },
    handleInputQuantity(product) {
      if (product.quantity <= 0) {
        product.quantity = 1;
      }
    },
    deleteItem(product) {
      this.listCart.forEach((item, index) => {
        if (item.id === product.id)
          this.listCart.splice(index, 1)
      })
    },
    deleteSelectedItem() {
      const selectedItem = this.listCart.filter((item) => item.status === true);
      if (selectedItem.length <= 0) {
        this.setSnackBarOn(true);
        this.setSnackBarColor("error");
        this.setSnackBarContent("Vui lòng chọn ít nhất một sản phẩm");
      } else {
        this.listCart = this.listCart.filter((item) => item.status === false)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../../assets/variables";

.container {
  font-size: 12px;
}

.no-data {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.select-all {
  display: flex;
  align-items: center;
  background: white;
  text-transform: uppercase;
  justify-content: space-between;
  width: 100%;
  font-size: 15px;
  font-weight: bold;

  .select-all-input {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;

    .select-all-input-text {
      position: relative;
      bottom: -1px;
    }
  }

  .trash-button {
    display: flex;
    align-items: center;

    .trash-button-text {
      position: relative;
      bottom: -2px;
      cursor: pointer;
      user-select: none;
    }
  }
}

.list-cart {
  //border-top: 1px solid transparent;

  .product-item {
    display: flex;
    align-items: center;
    background: white;
    justify-content: space-between;
    font-size: 14px;
    width: 100%;

    .product-item-wrap {
      display: flex;
      align-items: center;
      cursor: pointer;
      user-select: none;

      .product-info-wrap {
        display: flex;
        align-items: center;

        .image-wrap {
          width: 80px;
          height: 80px;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .product-info {
          font-weight: bold;
          font-size: 16px;
          width: 350px;

          .product-info-title {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
        }
      }

      .product-price-wrap {

        .product-price {
          font-weight: bold;
          color: #ff1616;
          font-size: 18px;
        }

        .product-price-origin {
          text-decoration: line-through;
          color: darkgray;
        }

        .product-price-discount {
          color: black;
        }

        .product-item-trash {
        }
      }
    }

    .product-quantity {
      input {
        font-size: 16px;
        width: 36px;
        height: 36px;
        text-align: center;
        position: relative;
        bottom: -1px;
        line-height: 45px;
        outline: none;


        &:hover {
          box-shadow: 0 0 0 1px lightgray;
        }

        &:active {
          box-shadow: 0 0 0 1px blue;
        }

        &:focus {
          box-shadow: 0 0 0 1px blue;
        }
      }
    }
  }
}

.package-title {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  font-size: 14px;
  color: #757575;
  background-color: #fafafa;
  margin-top: 20px;

  .package-title-left {
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 12px;

    .package-title-name {
      font-weight: bold;
      margin-right: 37px;
      text-align: left;
      line-height: 16px;
      font-size: 14px;
      color: #202020;
    }

  }

  .package-title-right {
    float: right;
    height: 40px;
    line-height: 40px;
    padding-right: 10px;

    .package-title-tips {
      font-size: 12px;
      color: #757575;

      .package-title-brand {
        text-align: right;
        line-height: 14px;
        font-weight: bold;
        font-size: 12px;
        color: #202020;
        margin-left: 5px;
      }
    }
  }
}

.delivery-option {
  box-sizing: border-box;
  margin-bottom: 0;
  background-color: #fff;
  padding-bottom: 6px;
  display: block;
  font-size: 12px;

  .delivery-option-body {
    box-sizing: border-box;
    height: 28px;
    padding: 0 12px;
    display: table;
    width: 100%;

    .delivery-slider {
      box-sizing: border-box;
      width: 770px;
      background-color: #fff;

      .delivery-slider-title {
        box-sizing: border-box;
        font-size: 12px;
        line-height: 16px;
        color: #212121;
        padding-top: 12px;
        padding-bottom: 8px;
      }

      .delivery-slider-wrap {
        width: 764px;
        height: 80px;

        .next-slick {
          padding: 0 !important;

          .next-slick-list {
            position: relative;
            overflow: hidden;
            display: block;
            margin: 0;
            padding: 0;
            transform: translateZ(0);

            .next-slick-track {
              opacity: 1;
              width: 1782.67px;
              transform: translate3d(0px, 0px, 0px);
              position: relative;
              top: 0;
              left: 0;
              display: block;

              .next-slick-slide {
                outline: none;
                width: 254.667px;
                float: left;
                position: relative;
                height: 92px;

                .delivery-item-inner {
                  cursor: pointer;
                  border: 1px solid #0094b6;
                  background-color: #fbfdfe;
                  margin-right: 9px;
                  overflow: hidden;
                  border-radius: 5px;

                  .delivery-item-top {
                    height: 43px;

                    .delivery-item-content {
                      display: inline-block;
                      width: 100%;
                      padding: 0 10px;

                      .delivery-item-first-line {
                        display: flex;
                        margin-top: 11px;

                        .delivery-item-price {
                          float: left;
                          width: 197px;
                          -webkit-box-orient: horizontal;
                          -webkit-box-direction: normal;
                          flex-direction: row;
                          -webkit-box-align: center;
                          align-items: center;
                          margin-bottom: 5px;
                          line-height: normal;
                          overflow: hidden;
                          white-space: nowrap;
                          text-overflow: ellipsis;

                          .delivery-item-current-price {
                            font-size: 14px;
                            color: #202020;
                            font-weight: 500;
                            margin-right: 4px;
                            margin-left: 7px;
                          }

                          .delivery-item-origin-price {
                            color: #999;
                            font-size: 12px;
                            text-decoration: line-through;

                          }
                        }
                      }

                      .delivery-item-name-wrap {
                        position: relative;
                        margin-bottom: 5px;
                        margin-top: 5px;

                        .delivery-item-name {
                          display: inline-block;
                          margin-left: 29px;
                          font-size: 12px;
                          color: #212121;
                        }
                      }
                    }
                  }

                  .delivery-item-bottom-no-schedule-selected-nlu {
                    color: #333;
                    background-color: #fbfdfe;
                    display: flex;
                    -webkit-box-align: center;
                    align-items: center;
                    height: 33px;
                    padding: 0 10px;
                    margin-top: 5px;

                    .delivery-item-time {
                      font-size: 12px;
                      letter-spacing: 0;
                      line-height: 14px;
                      margin-left: 29px;
                      margin-bottom: 0;
                    }

                  }

                }
              }
            }
          }
        }
      }
    }
  }
}

.cart-right {
  background: white;
  font-size: 14px;

  .cart-info-title {
    font-size: 18px;
    font-weight: 500;
  }

  .cart-right-col {
    display: flex;
    justify-content: space-between;
    align-items: center;


    .cart-info-price {
      font-size: 16px;
      color: black;
    }

    &.cart-right-col-sum {
      color: black;
      display: flex;
      align-items: flex-start;

      .cart-info-price {
        color: red;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        span {
          color: black;
          font-size: 12px;
        }
      }
    }
  }


}

.checkout-address {
  background-color: #fff;
  padding: 0 0;

  .checkout-address-inner {
    padding-bottom: 16px;

    .ok_mt {
      .address-hat {
        font-size: 18px;
        line-height: 24px;
        color: #212121;
        font-weight: 500;
        padding-top: 16px;
        margin-bottom: 14px;
      }

      .address-title-container {
        position: relative;
        margin-bottom: 8px;

      }

      .address-title {
        line-height: 16px;
        font-weight: bold;
        font-size: 14px;
        color: #212121;
        width: 300px;
        height: 16px;
      }
      .address-edit {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 14px;
        cursor: pointer;
        color: #1a9cb7;
        line-height: 16px;
      }
    }

  }

  .address-info-item {
    line-height: 19px;
  }
  .checkout-address-cp {
    margin-top: 5px;
    margin-left: 21px;

    .checkout-address-cp-view {
      border: 1px dashed #0094b6;
      border-radius: 4px;
      padding: 12px;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      cursor: pointer;

      .checkout-address-cp-header {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        font-size: 14px;
        color: #0094b6;

        .checkout-address-cp-text {
          flex: 1;

          span {
            display: block;
            margin-left: 12px;
            font-size: 12px;
            font-style: normal;
            -webkit-font-smoothing: antialiased;
          }
        }
      }

      .checkout-address-cp-footer {
        margin-top: 10px;
        font-size: 12px;
        color: #999;

        .checkout-address-cp-text-sug {
          -webkit-box-flex: 1;
          flex: 1;
        }
      }


    }
  }
}

.checkout-simple-address {
  background-color: #fff;
  padding: 0 0;
  margin-top: 10px;

  .checkout-simple-address-inner {
    position: relative;
    padding-bottom: 16px;
    padding-right: 30px;

    .checkout-simple-address-title {
      font-size: 14px;
      line-height: 16px;
      color: #212121;
    }
    .address-edit {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 14px;
      cursor: pointer;
      color: #1a9cb7;
      line-height: 16px;

    }
  }
}

.input-field-label {
  padding: 10px 0;
  background-color: #fff;

  .input-field-label-inner{
    padding: 10px 0;

    .input-field-item-wrapper{
      float: left;
      width: calc(100% - 80px);
      overflow: hidden;

      .input-field-item {
        font-size: 12px;
        color: #212121;
        line-height: 14px;

        .input-field-item-value {
          text-align: left;
          line-height: 16.5px;
          font-size: 14px;
          color: #333;
          max-width: 300px;
        }
      }


    }
    .input-field-edit {
      float: right;
      font-size: 14px;
      color: #1a9cb7;
    }
  }

}

.summary-section {
  padding: 16px 12px 0;
  background: #fff;

  .summary-section-heading {
    font-size: 18px;
    color: #212121;
    margin-bottom: 14px;
    position: relative;
    font-weight: 500;

  }

  .summary-section-content {
    border-bottom: none;
    padding-bottom: 16px;
    margin-bottom: 15px;

    .checkout-summary-row {
      display: flex;
      width: 100%;
      margin-bottom: 16px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;

      .checkout-summary-main {
        display: flex;

        .checkout-summary-label {
          -webkit-box-flex: 1;
          flex: 1;
          display: flex;
          -webkit-box-pack: start;
          justify-content: flex-start;
          font-size: 14px;
          color: #757575;
          letter-spacing: 0;
          line-height: 21px;
        }
        .checkout-summary-value{
          font-size: 16px;
          line-height: 21px;
          text-align: right;
          color: #202020;
          letter-spacing: -.44px;
          vertical-align: middle;

          .checkout-summary-noline-value{
            margin-right: 5px;
          }
        }
      }
    }
  }

}
.checkout-order-total {
  margin-top: 10px;

    .checkout-order-total-row {
      display: table;
      width: 100%;
      margin-bottom: 16px;

      .checkout-order-total-title {
        display: table-cell;
        font-size: 14px;
        color: #202020;
        line-height: 16px;


      }
      .checkout-order-total-fee{
        display: table-cell;
        font-size: 18px;
        color: #f57224;
        text-align: right;



      }
      small {
        font-size: 12px;
        color: #424242;
        letter-spacing: 0;
        line-height: 16px;
        display: block;
        text-align: right;
        margin-top: 5px;
      }
    }
}
.product-quantity-line {
  display: initial;
}
</style>
