<template>
  <a id="back-to-top" @click.prevent="scrollToTop" title="Về Đầu Trang"
     class="btn btn-primary back-to-top">
    <i class="fas fa-chevron-up"></i>
  </a>
</template>

<script>
export default {
  name: "BaseScrollToTop",
  methods: {
    scrollToTop() {
      this.$scrollTo({x: 0, y: 0});
    }
  }
}
</script>

<style scoped>

#back-to-top {
  position: fixed;
  bottom: 25px;
  z-index: 1;
  right: 10px;
  padding: 9px 11px;
  font-size: 30px;
  border-radius: 8px;
  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  background: #fed101;
  color: black;
  opacity: .6;
}
</style>
