@import "variables";

body {
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.app-primary-color {
  color: $app-primary-color;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

a {
  text-decoration: unset;
}

.col-3 {
  &.col-2-5 {
    flex: 0 0 20% !important;
    max-width: 20%;
  }
}

.the-top-navbar {
  .v-toolbar__content {
    padding-left: 0;
    padding-right: 0;
  }
}

.the-bottom-navbar {
  .v-toolbar__content {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.v-icon.v-icon {
  font-size: 16px !important;
}

// LIST PRODUCT
.list-product {
  min-height: 688px;
  background: white;

  &.laptop .navigat {
    background-image: url('https://www.thegioididong.com/Content/newYear2020/LAPTOP.png');
  }

  &.tablet .navigat {
    background-image: url('https://www.thegioididong.com/Content/newYear2020/tablet.png');
  }

  &.acc .navigat {
    background-image: url('https://www.thegioididong.com/Content/newYear2020/PKGIARE.png');
  }

  .navigat {
    background-image: url('https://www.thegioididong.com/Content/newYear2020/DT.png');
    height: 40px;


    h2 {
      display: none;
    }

    .viewallcat {
      float: right;
      overflow: hidden;

      a {
        padding-top: 10px;
        color: #fff;
        padding-left: 9px;
        padding-right: 12px;
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
      }
    }
  }
}
