<template>
  <v-app id="default-layout">
    <base-scroll-to-top/>
    <the-header/>
    <v-main>
      <nuxt/>
    </v-main>
    <v-footer
      :fixed="false" :dense="false"
    >
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
    <v-snackbar
      v-model="snackbar"
      :color="color"
      transition="slide-y-reverse-transition"
      left
      app
      :timeout="parseInt('5000')"
    >
      {{ containsToast }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="white"
          icon
          @click="snackbar = false"
        >
          <v-icon>fas fa-times</v-icon>
        </v-btn>
      </template>
    </v-snackbar>
  </v-app>
</template>

<script>
import TheHeader from "@/components/TheHeader";
import BaseScrollToTop from "@/components/Base/BaseScrollToTop";
import {mapGetters, mapMutations} from 'vuex'
import * as LocalStorage from '@/helpers/localStorage'

export default {
  components: {
    BaseScrollToTop,
    TheHeader
  },
  data() {
    return {
      clipped: false,
      drawer: false,
      items: [
        {
          icon: 'mdi-apps',
          title: 'Welcome',
          to: '/'
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'Inspire',
          to: '/inspire'
        }
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Vuetify.js'
    }
  },
  computed: {
    ...mapGetters({
      snackbar: 'showSnackBar',
      containsToast: 'snackBarContent',
      color: 'snackBarColor',
    }),
    snackbar: {
      get() {
        return this.$store.state.showSnackBar
      },
      set() {
        this.$store.commit('SET_DISPLAY_SNACKBAR')
      }
    }
  },
  mounted() {
    this.setCardId(LocalStorage.getCartId())
  },
  methods: {
    ...mapMutations({
      setCardId: 'cart/SET_CART_ID'
    })
  }
}
</script>

<style scoped>
#default-layout {
  background: #ffe7ab;
}
</style>
