<template>
  <v-container class="px-0">
    <!-- Slider -->
    <div class="slider-wrap mb-4">
      <div class="slider">
        <div class="homebanner">
          <div id="sync1" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
            <div class="owl-wrapper-outer">
              <div class="owl-wrapper"
                   style="width: 12640px; left: 0; display: block; transition: all 800ms ease 0s; transform: translate3d(0px, 0px, 0px);">
                <div class="owl-item" style="width: 790px;">
                  <div class="item">
                    <a href="https://www.thegioididong.com/khuyen-mai-tet">
                      <img style="cursor:pointer"
                           src="https://cdn.tgdd.vn/2020/01/banner/800-300-800x300-1.gif"
                           alt="Big" width="800" height="300">
                    </a>
                  </div>
                </div>
                <div class="owl-item" style="width: 790px;">
                  <div class="item">
                    <a href="https://www.thegioididong.com/khuyen-mai-tet">
                      <img
                        style="cursor:pointer"
                        src="https://cdn.tgdd.vn/2020/01/banner/800-300-800x300-13.png"
                        alt="Samsung Tet" width="800" height="300"></a></div>
                </div>
                <div class="owl-item" style="width: 790px;">
                  <div class="item">
                    <a href="https://www.thegioididong.com/khuyen-mai-tet">
                      <img
                        style="cursor:pointer"
                        src="https://cdn.tgdd.vn/2020/01/banner/800-300-800x300-12.png"
                        alt="Big OPPO" width="800" height="300"></a></div>
                </div>
                <div class="owl-item" style="width: 790px;">
                  <div class="item">
                    <a href="https://www.thegioididong.com/khuyen-mai-tet">
                      <img
                        style="cursor:pointer"
                        src="https://cdn.tgdd.vn/2020/01/banner/800-300-800x300-9.png"
                        alt="A51" width="800" height="300"></a></div>
                </div>
                <div class="owl-item" style="width: 790px;">
                  <div class="item">
                    <a href="https://www.thegioididong.com/khuyen-mai-tet">
                      <img
                        style="cursor:pointer"
                        src="https://cdn.tgdd.vn/2020/01/banner/big-iphone-800-300-800x300-3.png"
                        alt="iphone"
                        width="800" height="300"></a></div>
                </div>
                <div class="owl-item" style="width: 790px;">
                  <div class="item">
                    <a href="https://www.thegioididong.com/khuyen-mai-tet">
                      <img
                        style="cursor:pointer"
                        src="https://cdn.tgdd.vn/2020/01/banner/dong-ho-thoi-trang-800-300-800x300-1.png"
                        alt="dong ho thoi trang" width="800" height="300"></a></div>
                </div>
                <div class="owl-item" style="width: 790px;">
                  <div class="item">
                    <a href="https://www.thegioididong.com/khuyen-mai-tet">
                      <img
                        style="cursor:pointer"
                        src="https://cdn.tgdd.vn/2020/01/banner/Apple-watch-tao-800-300-800x300.png"
                        alt="Sắm Apple Watch" width="800" height="300"></a></div>
                </div>
                <div class="owl-item" style="width: 790px;">
                  <div class="item">
                    <a href="https://www.thegioididong.com/khuyen-mai-tet">
                      <img
                        style="cursor:pointer"
                        src="https://cdn.tgdd.vn/2019/12/banner/800-300-800x300-30.png"
                        alt="phu kien" width="800" height="300"></a></div>
                </div>
              </div>
            </div>


            <div class="owl-controls clickable">
              <div class="owl-buttons">
                <div class="owl-prev">‹</div>
                <div class="owl-next">›</div>
              </div>
            </div>
          </div>
          <div id="sync2" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
            <div class="owl-wrapper-outer">
              <div class="owl-wrapper"
                   style="width: 2528px; left: 0; display: block; transition: all 200ms ease 0s; transform: translate3d(0px, 0px, 0px);">
                <div class="owl-item synced" style="width: 158px;">
                  <div class="item">
                    <h3>Tết Sắm Smartphone<br>Trúng 2020 Chuột Vàng</h3>
                    <i class="arrowbar"></i>
                  </div>
                </div>
                <div class="owl-item" style="width: 158px;">
                  <div class="item">
                    <i class="arrowbarleft"></i>
                    <h3>Tết Sắm Samsung<br>Trúng 2020 Chuột Vàng</h3>
                    <i class="arrowbar"></i>
                  </div>
                </div>
                <div class="owl-item" style="width: 158px;">
                  <div class="item">
                    <i class="arrowbarleft"></i>
                    <h3>Tết Sắm OPPO<br>Lì Xì 1 Triệu</h3>
                    <i class="arrowbar"></i>
                  </div>
                </div>
                <div class="owl-item" style="width: 158px;">
                  <div class="item">
                    <i class="arrowbarleft"></i>
                    <h3>Tết Sắm Galaxy A51<br>Giảm Ngay 500 Ngàn</h3>
                    <i class="arrowbar"></i>
                  </div>
                </div>
                <div class="owl-item" style="width: 158px;">
                  <div class="item">
                    <i class="arrowbarleft"></i>
                    <h3>Tết Sắm iPhone Online<br>Lì Xì Đến 3 Triệu</h3>
                    <i class="arrowbar"></i>
                  </div>
                </div>
                <div class="owl-item" style="width: 158px;">
                  <div class="item">
                    <i class="arrowbarleft"></i>
                    <h3>Đồng Hồ Thời Trang<br>Giảm Đến 30%</h3>
                    <i class="arrowbar"></i>
                  </div>
                </div>
                <div class="owl-item" style="width: 158px;">
                  <div class="item">
                    <i class="arrowbarleft"></i>
                    <h3>Tết Sắm Apple Watch<br>Giảm Đến 2 Triệu</h3>
                    <i class="arrowbar"></i>
                  </div>
                </div>
                <div class="owl-item" style="width: 158px;">
                  <div class="item">
                    <i class="arrowbarleft"></i>
                    <h3>Phụ Kiện Online<br>Giảm Đến 49%</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="homenews">
        <a href="#">
          <img
            style="cursor:pointer" src="https://cdn.tgdd.vn/2020/12/banner/a02s-398-110-398x110.png" alt="đt"
          >
        </a>
        <a href="#">
          <img
            style="cursor:pointer" src="https://cdn.tgdd.vn/2020/12/banner/a02s-398-110-398x110.png" alt="đt"
          >
        </a>
        <a href="#">
          <img
            style="cursor:pointer" src="https://cdn.tgdd.vn/2020/12/banner/398-110-398x110.png" alt="đt">
        </a>
      </div>
    </div>
    <!-- ./Slider -->
    <div class="mb-4 list-product">
      <div class="navigat">
        <h2>Điện thoại nổi bật nhất</h2>
        <div class="viewallcat">
          <nuxt-link to="/mobile" class="mobile">Xem tất cả</nuxt-link>
        </div>
      </div>
      <v-row v-if="mobilesLoading" no-gutters>
        <v-col
          v-for="(index) in 15" :key="index"
          cols="3"
          class="col-2-5 "
        >
          <product-item-skeleton-loader/>
        </v-col>
      </v-row>
      <v-row v-else no-gutters>
        <v-col
          v-for="(product, index) in mobiles" :key="index"
          cols="3"
          class="col-2-5 "
        >
          <product-item v-if="index<10" :product="product"/>
        </v-col>
      </v-row>
    </div>
    <div class="mb-4 list-product laptop">
      <div class="navigat">
        <h2>Laptop nổi bật nhất</h2>
        <div class="viewallcat">
          <nuxt-link to="/table" class="mobile">Xem tất cả</nuxt-link>
        </div>
      </div>
      <v-row v-if="laptopsLoading" no-gutters>
        <v-col
          v-for="(index) in 15" :key="index"
          cols="3"
          class="col-2-5 "
        >
          <product-item-skeleton-loader/>
        </v-col>
      </v-row>
      <v-row v-else no-gutters>
        <v-col
          v-for="(product, index) in laptops" :key="index"
          cols="3"
          class="col-2-5 "
        >
          <product-item v-if="index<10" :product="product"/>
        </v-col>
      </v-row>
    </div>
    <div class="mb-4 list-product tablet">
      <div class="navigat">
        <h2>Tablet nổi bật nhất</h2>
        <div class="viewallcat">
          <nuxt-link to="/tablet" class="mobile">Xem tất cả</nuxt-link>
        </div>
      </div>
      <v-row v-if="tabletsLoading" no-gutters>
        <v-col
          v-for="(index) in 15" :key="index"
          cols="3"
          class="col-2-5 "
        >
          <product-item-skeleton-loader/>
        </v-col>
      </v-row>
      <v-row v-else no-gutters>
        <v-col
          v-for="(product, index) in tablets" :key="index"
          cols="3"
          class="col-2-5 "
        >
          <product-item v-if="index<10" :product="product"/>
        </v-col>
      </v-row>
    </div>
    <div class="mb-4 list-product acc">
      <div class="navigat">
        <h2>Phụ kiện chính hãng</h2>
        <div class="viewallcat">
          <nuxt-link to="/acc" class="mobile">Xem tất cả</nuxt-link>
        </div>
      </div>
      <v-row v-if="accsLoading" no-gutters>
        <v-col
          v-for="(index) in 15" :key="index"
          cols="3"
          class="col-2-5 "
        >
          <product-item-skeleton-loader/>
        </v-col>
      </v-row>
      <v-row v-else no-gutters>
        <v-col
          v-for="(product, index) in accs" :key="index"
          cols="3"
          class="col-2-5 "
        >
          <product-item v-if="index<10" :product="product"/>
        </v-col>
      </v-row>
    </div>
  </v-container>
</template>

<script>
import ProductItem from "@/components/ProductItem";
import * as ApiProduct from "../apis/ApiProduct";
import ProductItemSkeletonLoader from "../components/ProductItemSkeletonLoader";

export default {
  name: "Home",
  head() {
    return {
      title: "Điện thoại smartphone, chính hãng, giá rẻ, trả góp 0%"
    }
  },
  components: {
    ProductItemSkeletonLoader,
    ProductItem
  },
  data() {
    return {
      mobiles: [],
      laptops: [],
      tablets: [],
      accs: [],
      mobilesLoading: true,
      laptopsLoading: true,
      tabletsLoading: true,
      accsLoading: true,
    }
  },
  mounted() {
    this.fetchProducts()
    const slider = document.getElementById('sync1'),
      sliderItems = document.querySelector('.owl-wrapper'),
      prev = document.querySelector('.owl-prev'),
      next = document.querySelector('.owl-next');
    this.slide(slider, sliderItems, prev, next);
  },
  methods: {
    fetchProducts() {
      // MOBILE
      this.$api.products.productsWithTypeTop(1)
        .then(({data}) => {
          this.mobilesLoading = false
          this.mobiles = data
        })
      // LATOP
      this.$api.products.productsWithTypeTop(2)
        .then(({data}) => {
          this.laptopsLoading = false
          this.laptops = data
        })// TABLET
      this.$api.products.productsWithTypeTop(3)
        .then(({data}) => {
          this.tabletsLoading = false
          this.tablets = data
        })// ACC
      this.$api.products.productsWithTypeTop(4)
        .then(({data}) => {
          this.accsLoading = false
          this.accs = data
        })
    },

    slide(wrapper, items, prev, next) {
      let posX1 = 0,
        posX2 = 0,
        posInitial,
        posFinal,
        threshold = 100,
        slides = items.getElementsByClassName('owl-item'),
        slidesLength = slides.length,
        slideSize = items.getElementsByClassName('owl-item')[0].offsetWidth,
        firstSlide = slides[0],
        lastSlide = slides[slidesLength - 1],
        cloneFirst = firstSlide.cloneNode(true),
        cloneLast = lastSlide.cloneNode(true),
        index = 0;


      const slidetime = 4500;

      const sync1 = document.getElementById('sync1');
      const sync2 = document.getElementById('sync2');
      const item_description = sync2.querySelectorAll('.owl-item');

      const nextSlide = () => {

        // move item_description
        const sync2_carousel = sync2.querySelector('.owl-wrapper');
        const owl_wrapper_outer = sync2.querySelector(".owl-wrapper-outer");

        if (index < 0) {
          index = 7;
          sync2_carousel.style.transform = 'translate3d(' + -((index - 4) * 158) + 'px, 0px, 0px)';
        }
        if (index > 7) {
          index = 0;
          sync2_carousel.style.transform = 'translate3d(' + -(index * 158) + 'px, 0px, 0px)';
        }


        const leftParentBound = owl_wrapper_outer.getBoundingClientRect().left;
        const leftItemBound = item_description[index].getBoundingClientRect().left;
        if (leftItemBound === leftParentBound) {
          if (index > 0) {
            sync2_carousel.style.transform = 'translate3d(' + -((index - 1) * 158) + 'px, 0px, 0px)';
          }
        }

        const rightParentBound = owl_wrapper_outer.getBoundingClientRect().right;
        const rightItemBound = item_description[index].getBoundingClientRect().right;
        if (rightItemBound === rightParentBound) {
          if (index < 7) {
            sync2_carousel.style.transform = 'translate3d(' + -((index - 3) * 158) + 'px, 0px, 0px)';
          }
        }

        // bold item_description
        for (let j = 0; j < item_description.length; j++) {
          item_description[j].classList.remove("synced");
        }
        item_description[index].classList.add("synced");

        // move image
        const sync1_carousel = sync1.querySelector('.owl-wrapper');
        sync1_carousel.style.transform = 'translate3d(' + -index * 790 + 'px, 0px, 0px)';
      }

      // On click next button
      prev.onclick = function () {
        index--;
        nextSlide();
      };
      // On click previous button
      next.onclick = function () {
        index++;
        nextSlide();
      };
      // On click on description
      for (let j = 0; j < item_description.length; j++) {
        item_description[j].onclick = function () {
          index = j;
          nextSlide();
        };
      }

      // Pause loop slide show on hover
      const homebanner = document.querySelector('#sync1');
      homebanner.onmouseover = function timer() {
        clearInterval(loopSliderShow);
      };
      homebanner.onmouseout = function () {
        loopSliderShow = setInterval(loop_slides, slidetime);
      };


      // Loop slide show each slide time
      let loopSliderShow = setInterval(loop_slides, slidetime);

      function loop_slides() {
        index++;
        nextSlide();
      }

      // Mouse and Touch events
      items.onmousedown = dragStart;

      // Touch events
      items.addEventListener('touchstart', dragStart);
      items.addEventListener('touchend', dragEnd);
      items.addEventListener('touchmove', dragAction);

      const dragStart = (e) => {
        e = e || window.event;

        items.style.transition = '';
        e.preventDefault();
        this.stopLink();
        posInitial = getMatrix(items).x;
        if (e.type === 'touchstart') {
          posX1 = e.touches[0].clientX;
        } else {
          posX1 = e.clientX;
          document.onmouseup = dragEnd;
          document.onmousemove = dragAction;
        }
      }

      function dragAction(e) {
        e = e || window.event;
        if (e.type === 'touchmove') {
          posX2 = posX1 - e.touches[0].clientX;
          posX1 = e.touches[0].clientX;
        } else {
          posX2 = posX1 - e.clientX;
          posX1 = e.clientX;
        }
        // items.style.transform = (0 - posX2) + "px";
        items.style.transform = 'translate3d(' + (getMatrix(items).x - posX2) + 'px, 0px, 0px)';
      }

      function dragEnd(e) {
        e = e || window.event;

        items.style.transition = 'all 800ms ease 0s';
        posFinal = getMatrix(items).x;
        if (posFinal - posInitial > threshold) {
          shiftSlide('left');
        } else {
          if (posFinal - posInitial < -threshold) {
            shiftSlide('right');
          } else {
            items.style.transform = 'translate3d(' + (posInitial) + 'px, 0px, 0px)';
          }
        }
        document.onmouseup = null;
        document.onmousemove = null;
        this.openLink();
      }

      function shiftSlide(direction) {
        if (direction === 'left') {
          index--;
          nextSlide();
        }
        if (direction === 'right') {
          index++;
          nextSlide();
        }
      }
    }
  },
  stopLink() {
    console.log('vo chưa');
    const sync1 = document.getElementById('sync1');
    var xxx = sync1.querySelectorAll(".item");
    for (let j = 0; j < xxx.length; j++) {
      xxx[j].querySelector('a').addEventListener("click", this.preventClick);
    }
  },

  preventClick(e) {
    event.preventDefault();
  },

  openLink() {
    const sync1 = document.getElementById('sync1');
    var xxx = sync1.querySelectorAll(".item");
    for (let j = 0; j < xxx.length; j++) {
      xxx[j].querySelector('a').removeEventListener("click", this.preventClick);
    }
  },

}
</script>

<style lang="scss" scoped>
.slider-wrap {
  display: flex;
  justify-content: space-between;

  .slider {
    width: 790px;

    .homebanner {
      width: 790px;
      height: 354px;
      overflow: hidden;
      position: relative;
      background: #f0f0f0;

      &:hover .owl-buttons {
        display: block;
      }

      .owl-buttons {
        position: absolute;
        top: 38%;
        height: 0;
        width: 100%;
        display: none;
      }

      .owl-prev {
        position: absolute;
        left: 10px;
        padding: 12px 0 0;
        margin: 0;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        background: rgba(0, 0, 0, .3);
        width: 48px;
        height: 40px;
        text-align: center;
        font-size: 46px;
        color: #fff;
        font-family: -webkit-body;
      }

      .owl-next {
        position: absolute;
        right: 10px;
        padding: 12px 0 0;
        margin: 0;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        background: rgba(0, 0, 0, .3);
        width: 48px;
        height: 40px;
        text-align: center;
        font-size: 46px;
        color: #fff;
        font-family: -webkit-body;
      }
    }

    * {
      padding: 0;
      margin: 0;
    }

    #sync1 .item {
      background: #f8f8f8;
      text-align: center;
      height: 300px;
      color: #fff;
    }

    .owl-carousel .owl-item {
      float: left;
    }

    .owl-carousel .owl-wrapper {
      display: none;
      position: relative;

    }

    .owl-carousel .owl-wrapper-outer {
      overflow: hidden;
      position: relative;
      width: 100%;
    }

    .owl-carousel .owl-wrapper:after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
    }

    #sync2 {
      display: block;
      width: 100%;
      background: #fff;
      height: 55px;
    }

    #sync2 .item {
      display: table;
      width: 98%;
      vertical-align: middle;
      position: relative;
      background: #fff;
      color: black;
      text-align: center;
      cursor: pointer;
      height: 55px;
      font-size: 12px;
      padding: 0 1%;
    }

    #sync2 .item h3 {
      font-size: 12px;
      line-height: 1.3em;
      display: inline-block;
      vertical-align: middle;
      display: table-cell;
      font-weight: unset;
    }

    .owl-theme .owl-controls {
      margin-top: 0;
      text-align: center;
    }

    .owl-theme .owl-controls .owl-buttons div {
      display: inline-block;
      zoom: 1;
      line-height: 20px;
      box-sizing: unset;
    }

    .owl-theme .owl-controls.clickable .owl-buttons div:hover {
      text-decoration: none;
    }

    .owl-controls .owl-page, .owl-controls .owl-buttons div {
      cursor: pointer;
    }

    .owl-controls {
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    #sync2 .owl-item {
      height: 55px;
      position: relative;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    #sync2 .owl-item:after {
      content: '';
      float: right;
      height: 30px;
      border-right: 1px solid #e5e5e5;
      position: absolute;
      top: 13px;
      right: 0;
    }

    #sync2 .synced .item h3 {
      font-weight: bold;
    }

    #sync2 .synced .item:before {
      content: '';
      display: block;
      z-index: 99;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background: #ff1616;
    }

    a {
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none;
      /*pointer-events: none;*/
      -webkit-user-drag: none;
    }
  }

  .homenews {
    width: 32.5%;
    height: 354px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a {
      height: max-content;
      display: inherit;

      img {
        width: 100%;
      }
    }
  }

}

</style>
