<template>
  <v-container class="px-0">
    <div class="filter">
      <div class="menu-brand">
        <menu-brand/>
      </div>
    </div>
    <div class="mb-4 list-product" :class="$route.params.catalog">
      <div class="navigat">
        <h2>Điện thoại nổi bật nhất</h2>
      </div>
      <v-row v-if="loading" no-gutters>
        <v-col
          v-for="(index) in 15" :key="index"
          cols="3"
          class="col-2-5 "
        >
          <product-item-skeleton-loader/>
        </v-col>
      </v-row>
      <div v-else-if="noResult" class="d-flex justify-center my-12 text-h5">
        Xin lỗi hiện tại cửa hàng chưa kinh doanh loại sản phẩm
        này
      </div>
      <div v-else>
        <v-row no-gutters>
          <v-col
            v-for="(product, index) in products" :key="index"
            cols="3"
            class="col-2-5 "
          >
            <product-item :product="product"/>
          </v-col>
        </v-row>
        <div
          v-if="loadMoreBtn"
          class="d-flex justify-center pt-4 pb-8"
        >
          <v-btn
            :loading="loadMoreBtnLoading"
            :disabled="loadMoreBtnLoading"
            color="primary"
            @click="fetchMoreProducts"
          >
            Xem thêm
          </v-btn>
        </div>
      </div>
    </div>
  </v-container>
</template>

<script>
import ProductItem from "../../components/ProductItem";
import MenuBrand from "../../components/MenuBrand";
import ProductItemSkeletonLoader from "../../components/ProductItemSkeletonLoader";

export default {
  name: "Catalog",
  head() {
    return {
      title: this.getTitle(this.$route.params.catalog)
    }
  },
  components: {ProductItemSkeletonLoader, MenuBrand, ProductItem},
  data: () => ({
    products: [],
    noResult: false,
    page: 1,
    catalog: 1,
    loading: true,
    loadMoreBtn: true,
    loadMoreBtnLoading: false
  }),
  mounted() {
    this.$nextTick(() => {
      this.$nuxt.$loading.start()
    })
    if (this.$route.query.page) {
      this.page = this.$route.query.page;
    }
    if (this.$route.params.catalog) {
      this.catalog = this.findCatalogId(this.$route.params.catalog)
    }
    this.fetchProducts()
  },
  methods: {
    getTitle(catalogName) {
      switch (catalogName) {
        case 'mobile':
          return 'Điện thoại'
        case 'laptop':
          return 'Laptop'
        case 'tablet':
          return 'Tablet'
        case 'acc':
          return 'Phụ kiện'

        default:
          return 'Điện thoại'
      }
    },
    findCatalogId(catalogName) {
      switch (catalogName) {
        case 'mobile':
          return 1
        case 'laptop':
          return 2
        case 'tablet':
          return 3
        case 'acc':
          return 4

        default:
          return 1
      }
    },

    fetchMoreProducts() {
      this.loadMoreBtnLoading = true;

      this.page++;
      const query = {
        page: this.page
      }

      // MOBILE
      this.$api.products.productsWithType(this.catalog, query)
        .then(({data, meta}) => {
          this.loadMoreBtnLoading = false;
          if (data.length > 0) {
            const sub_url = window.location.origin + window.location.pathname;
            const url_query = `?page=${this.page}`;
            const url = sub_url + url_query;
            window.history.replaceState({}, null, url);

            data.forEach(item => this.products.push(item))
          }
          // Hidden button if the page >= last page
          if (this.page >= meta.lastPage) {
            this.loadMoreBtn = false
          }
        })
    },
    async fetchProducts() {
      let lastPage = 9999
      for (let i = 1; i <= this.page; i++) {
        if (i > lastPage) {
          break;
        }
        const query = {
          page: i
        }

        // MOBILE
        await this.$api.products.productsWithType(this.catalog, query)
          .then(({data, meta}) => {
            this.loading = false;
            data.forEach(item => this.products.push(item))

            lastPage = meta.lastPage;
            // Hidden button if the page >= last page
            if (this.page >= meta.lastPage) {
              this.loadMoreBtn = false
            }
          })
          .catch(() => {
            this.loading = false;
          })
      }

      // check noResult
      if (this.products.length <= 0) {
        this.noResult = true
      }
    }
  }
}
</script>

<style scoped>

</style>
